[2018-05-22 11:38] kad opened #2 "Restructure README.md file(s)"
We need to split current README.md file into several:

1. main README.md file in top level directory should have high level description of the repo, supported k8s versions, list and pointers to README files for each plugin inside that repo.
1. CONTRIBUTING.md  - description on how to contribute to that repository.
1. common file building.md or something like that: instructions how to get sources a

[2018-05-22 12:02] kad opened #3 "Update FPGA demo to use HugePages"
Currently FPGA demo expects that hugepages are pre-allocated outside of kubernetes.
We need to update pod spec for using standard kubernetes feature for hugepages:
https://kubernetes.io/docs/tasks/manage-hugepages/scheduling-hugepages/

[2018-05-28 10:52] #2 closed

[2018-05-28 11:09] kad opened #9 "Enable codecov.io in travis-ci"
Main site: https://codecov.io/
example for Go integration: https://github.com/codecov/example-go

[2018-06-14 16:02] #3 closed

[2018-07-23 08:02] zhenyw opened #53 "gpu plugin device can only be used by one pod"
Hi, currently gpu plugin only exposes one device instance e.g one 'card0' with device node /dev/dri/card0 and /dev/dri/renderD128 for service, so only one pod can use it. But as drm device node could be accessed by any number of clients, only limit to one pod is not good, gpu device can be utilized by many more pods.

I'm not sure what's the best way to handle this. One option is to be able to pas

[2018-07-25 07:58] mythi opened #55 "qat_plugin: additional review comments"
I've tested the QAT plug-in on my host and read the code a little bit. Here's my observations/improvement ideas:

- while re-running the plug-in multiple times, I eventually run "out of resources" because the devices remain bound to the dpdk user IO driver. The driver should probably implement:
``` for i in `ls -d /sys/bus/pci/drivers/vfio-pci/0000:*`; do echo `basename $i` > /sys/bus/pci/drivers/

[2018-07-25 08:01] mythi commented on #55
@swatisehgal I wrote some review feedback still.

[2018-07-26 08:46] pohly opened #57 "check for formatting issues in TravisCI"
It looks like TravisCI is supposed to detect code that isn't formatted in the canonic way, because there is a `make format` invocation in `.travis.yml`. But what that does is reformat code, without failing the CI build because `go fmt` returns a zero exit code regardless whether changes were necessary or not.

Here's what I've been using in a different project:
[code]

[2018-07-26 12:01] #57 closed

[2018-07-30 08:09] rojkov commented on #53
Sorry for the delay. I'm just back from holidays.

Currently over-commitment of extended resources isn't supported by K8s. Once allocated a device stops being available, the scheduler simply can't schedule a pod on the same node (given there is one device on the node). Semantically it would make more sense if a user could request a fraction of a device, but this contradicts to the spec for K8s ext

[2018-08-01 15:05] rojkov opened #63 "qat_plugin: increase code coverage with unit tests"
Currently about 50% of `qat_plugin` is covered with unit tests. More tests are needed.

[2018-08-01 15:06] rojkov commented on #63
@swatisehgal could you please have a look at this issue?

[2018-08-01 15:17] swatisehgal commented on #63
Sure, Thanks, will look into this!

[2018-08-03 11:28] swatisehgal commented on #55
Thanks @mythi for your feedback!! There has been some code refactoring done recently which takes care of the maxNumdevice issue that you have pointed out. And as far as the out of resource issue is concerned, I will have a look into that to see what can be done to gracefully handle this case. You are right that this is tricker than unbind as we need to be aware that there might be devices bound to

[2018-08-06 06:17] mythi commented on #55
ping @MCamp859. FYI, see the proposed README updates.

@swatisehgal perhaps the plugin could log out the devices it binds for easier manual 'recovery'.

[2018-08-06 06:34] rojkov commented on #55
Is there a way to detect the devices that are already in use on the host so the plugin could exclude them from exposing?

[2018-08-06 06:58] mythi commented on #55
@rojkov the plugin already "excludes" them (them= host dpdk users): it only looks devices that are bound to the QAT kernel driver module and re-binds those to UIO/vfio-pci.

[2018-08-06 08:29] rojkov commented on #55
@mythi This isn't the case after my refactoring: now it looks for devices that are bound to kernel and DPDK drivers.

If the only indication of the fact the device is taken by some other process is that it's bound to uio/vfio-pci then we'd better add unbinding upon the plugin's exit. Though I can't say that's a perfect solution because I feel it's prone to device leakages.

[2018-08-06 10:33] rojkov commented on #55
@mythi True. My assumption was that we don’t care about the use case where some devices are taken by host processes. And the FPGA plugin has been developed without this use case in mind.

[2018-08-08 10:05] bart0sh opened #70 "FPGA CRI hook: make hook output to be visible in the logs"
Currently output of the hook is not visible anywhere, which makes it hard to investigate what's going on when hook doesn't work as expected.

It would be great to have the output visible in the CRI-O systemd logs: ```journalctl -u crio```.

Hopefully it's just a matter of configuring systemd to put the logs into its binary log.

[2018-08-08 10:56] bart0sh opened #71 "FPGA CRI hook: implement support for OpenCL bitstreams"
Current implementation supports only OPAE bitstreams.
It would be great to have OpenCL bitstreams also supported.

OpenVINO project uses OpenCL bitstreams, so supporting OpenCL bitstreams would also help to support OpenVINO workloads.

[2018-08-08 10:58] bart0sh opened #72 "FPGA: support multiple FPGA devices"
FPGA plugin, Admission Webhook and CRI hook currently support only one FPGA device. They should be extended to support multiple devices. This will help to support more complex FPGA workflows that use more than one accelerated function.

[2018-08-08 11:08] bart0sh opened #73 "FPGA: create Ansible playbook"
Due to complexity of the plugin setup and many components involved it would make sense to automate its deployment by creating ansible playbook.

[2018-08-08 12:31] kad opened #74 "vendored deps: prune unused code."
We need to check if we can reduce size of vendored dependencies by playing with dep tool options:
https://golang.github.io/dep/docs/Gopkg.toml.html#prune

[2018-08-08 14:51] kad opened #76 "FPGA: init container for plugin daemon set"
Idea is to create init container for FPGA device plugin daemonset where following items will be done:

- host mount some directory, e.g. /opt/intel/fpga and CRI-O hook configuration directory
- rsync --delete all needed libraries and binaries for fpga programming into this directory (including fpga_crihook)
- force-update fpga_crihook configuration file for CRI-O

[2018-08-08 14:52] kad opened #77 "Health monitoring for FPGA"
We seen situations where FPGA device become irresponsible after using some bitstreams.
We need to get proper health reporting by device plugin

[2018-08-09 09:41] kad opened #78 "FPGA webhook should be in kube-system namespace"
@rojkov please update deployment configurations that FPGA admission hook components will be deployed to kube-system namespace.

[2018-08-09 16:48] swatisehgal opened #80 "Need to explicitly Checking for QAT devices when DPDK drivers are used as devices bound to DPDK driver get wrongly counted as QAT devices"
When the device plugin runs it scans the /sys/bus/pci/drivers/ directory for the following drivers to detect the VFs associated with them:
dh895xccvf,c6xxvf,c3xxxvf,d15xxvf,igb_uio

The first 4 drivers have no issue as they are the kernel drivers for QAT VFs.
However, when scanning the igb_uio driver for devices attached to it as well as detecting QAT VFs the device plugin will also detect any NIC

[2018-08-10 05:40] zhenyw commented on #53
Well GPU device can serve many clients simultaneously, so restrict it for only one user doesn't serve practical usage.

I'm not sure what you mean by exposing "virtual GPU", does current k8s device plugin have support for virtual device entry or that's just a way to provide number of devices can be used for pods?

[2018-08-10 08:52] bart0sh opened #81 "QAT: crypto-perf image fails to build"
Here is what I'v got when I tried to build crypto-perf image:

[code]

[2018-08-10 11:53] rojkov commented on #53
Understandable.
I'm not very knowledgeable about GPUs: is it possible to guarantee that a pod won't abuse a shared GPU and exhaust its resources (e.g. by allocating memory for a huge texture) so other pods won't starve. Then can a process access and read a GEM BO created by another process from inside a different pod? This is important especially in multi-tenant installations.

The latter. The sam

[2018-08-13 04:56] zhenyw commented on #53
DRM linux has no memory control on GPU now, as current intel gpu just use host memory for GPU, so depend on shmem fs for allocation. Usage for pod is similar to usage on native GPU processes.

BO sharing requires authenticated client which is normally handled between display manager vs. gfx library in applications. So there's no explicit way for between pods BO access.

I think when you expose to

[2018-08-13 08:28] #78 closed

[2018-08-13 09:26] #77 closed

[2018-08-13 14:47] rojkov commented on #53
Agree. This might be useful for users running their own private clusters.

Please disregard my last sentence in the previous comment. kubelet doesn't really care about the names of devices nodes. It just needs different device IDs like `card0-0`, `card0-1`,..., `card0-X` corresponding to the same content of `DeviceSpec.HostPath` and `DeviceSpec.ContainerPath`, so containers sharing the same GPU wo

[2018-08-14 08:00] zhenyw commented on #53
Just wonder if user assigns multiple intel.com/gpu resources in pod yaml, would that cause problem? My guess is not, as dev path is same so container runtime should still apply for it, right?

And I'd like to know if you like to implement new option for this, or like to see a PR.

[2018-08-14 11:30] rojkov commented on #53
Right, that's my expectation too.

I'll implement it.

[2018-08-15 08:27] zhenyw commented on #53
Thanks. Looks good to me!

[2018-08-15 13:45] #53 closed

[2018-08-15 14:06] bart0sh commented on #70
There is not much to do about this. If hook returns non-zero exit status its stdout and stderr output goes to the kubelet  systemd journal (and can be visible with journalctl -u kubelet) and to the CRI-O log. A lot more info about processing hooks is going to CRI-O log if crio is run with --log-level debug.

Example:
[code]

[2018-08-15 14:06] #70 closed

[2018-08-16 10:29] #74 closed

[2018-08-29 07:54] #76 closed

[2018-09-04 20:11] #71 closed

[2018-09-07 13:28] rojkov commented on #72
I've added support for multiple devices per container to webhook in https://github.com/rojkov/intel-device-plugins-for-kubernetes/tree/multiple-fpgas.

The CRI-O hook is the next step.

[2018-09-18 14:01] bart0sh commented on #73
This can be used as a start for this task: [Using kubeadm with CRI-O](https://www.projectatomic.io/blog/2017/06/using-kubeadm-with-cri-o/)

The guide includes instructions and links to the [Ansible playbook](https://github.com/cri-o/cri-o-ansible) that deploys CRI-O. We just need to add FPGA plugin specifics to it.

[2018-10-08 11:33] #72 closed

[2018-10-23 02:59] yanceliyuqi opened #113 "Multiple afu modes"
There are 2 fpga afu on one of our hosts with uuid `18b79ffa-2ee5-4aa0-96ef-4230dafacb5f` and `d8424dc4-a4a3-c413-f89e-433683f9040b` like the attachment named afu.png.
While, if we run fpga_plugin in `af` mode, we can found only one afu (18b79ffa-2ee5-4aa0-96ef-4230dafacb5f) been registed into k8s, like the attachment name registed_afu.png.
![afu](https://user-images.githubusercontent.com/35280160

[2018-10-23 03:02] yanceliyuqi opened #114 "kubernetes application"
I just allocated one region of fpga for my pod. While , in my pod, i can see all of fpga on this host. The attachment named cern.yml is the detail of my pod, and the 1.png is the output of `kubectl get pod -o yaml`, and the 2.png is the output of `lspci | grep 9c[45]` running in my pod, 3.png for `fpgainfo fme` in my pod and 4.png for `fpgainfo port`in my pod.

![1](https://user-images.githubuserc

[2018-11-05 15:41] #113 closed

[2018-11-05 15:43] bart0sh commented on #113
@yanceliyuqi can you check please if the latest master fixes this issue?

[2018-11-05 15:49] bart0sh commented on #114
Yes, you can see all FPGAs and everything that is in /sys/class as /sys is readable in the container. However, you shouldn't be able to use any devices that you didn't allocate.

I'm closing this. Please reopen if you see not allocated fpga device nodes in /dev/. You can check them using this command on the host and inside container:
[code]

[2018-11-05 15:49] #114 closed

[2018-11-07 08:39] kad commented on #81
@swatisehgal ping

[2018-11-08 13:38] swatisehgal commented on #81
Thanks for pinging me on this! We will assign resources to get this fixed.

[2018-11-20 14:16] przemeklal commented on #81
PR #122 should fix this and other potential issues (like missing directory with DPDK sources)

[2018-11-22 11:48] #63 closed

[2018-12-04 21:12] qmfrederik opened #138 "Support for GVT-g vGPUs"
I'm interested in using [GVT-g](https://github.com/intel/gvt-linux/wiki/GVTg_Setup_Guide) to virtualize the GPUs in my cluster nodes and assign them to pods (essentially for use with qemu in [kubevirt](http://kubevirt.io)).

I came up with a very [naïve implementation](https://github.com/kubedroid/intel-device-plugins-for-kubernetes/blob/vgpu/cmd/vgpu_plugin/vgpu_plugin.go), and wanted to check wi

[2018-12-05 07:37] mythi commented on #138
You should be able to experiment with https://github.com/intel/sriov-network-device-plugin where the ```resourceList``` is be configured to expose your graphics card to a vfio device.

I've not tried with kubevirt but I'm using a similar mechanism to isolate (QAT) devices to Kata Containers backed pods.

[2018-12-05 13:45] qmfrederik commented on #138
Thanks! I gave it a try, but I'm not entirely sure whether this is to work with virtualized GPUs, or would allow me to pass through an individual (physical) GPU?

I have created two vGPUs, which show up as `/dev/vfio/9` and `/dev/vfio/10`.
When I deploy the daemonset for the sriov-network-device-plugin, only one device is listed.
Creating a pod which uses this device fails: `Error: failed to start

[2018-12-05 20:32] mythi commented on #138
@qmfrederik I was thinking about GVT-d so my idea won't work, sorry.

The link to your implementation points to GVT-g wiki.

[2018-12-06 10:31] qmfrederik commented on #138
@mythi Makes sense, thanks.

The link should point to https://github.com/kubedroid/intel-device-plugins-for-kubernetes/blob/vgpu/cmd/vgpu_plugin/vgpu_plugin.go, I've updated the comment.

[2019-01-07 13:46] mythi opened #146 "qat_plugin: update loop exhausts VF driver devices"
The update loop doing ```scan()``` exhausts devices from the VF driver pool

```for _, driver := range append(dp.kernelVfDrivers, dp.dpdkDriver) {```

After a while, all devices bound to kernelVfDrivers have been unbound and the plugin only scans dpdkDriver directory.

[2019-01-07 18:42] ldcastell opened #147 "can't build fpga_plugin"
What's the golang version I should use? I can't pass the fpga_plugin build:
with golang 1.6 I get the following error:
[code]
With Golang 1.7 and 1.8 I get:
[code]

and With latest I get:
[code]

[2019-01-08 02:48] khrd opened #148 "Can’t run the demo on k8s node with two FPGAs"
Hi.
I'm trying the FPGA plugin and I have 2 questions related to a multi-FPGA k8s node.
If any one here can give me some hint I will be very appreciate.

I have a DELL R740 server with two Intel PAC (FPGA Board), and I use this server as a k8s node.
BTW, I also have a DELL R640 with single Intel PAC and I do not have problem with this one.

## Question1
I want to create two pod, each pod attached

[2019-01-08 07:48] rojkov commented on #147
Hm... I can't reproduce the issue with the latest golang. In .travisci with put go-1.11.x as a runtime and it has been working so far. go-1.10 is insufficient because one of the FPGA components uses a templating feature available in go >= 1.11.

Did you try a Docker-based build with `make intel-fpga-plugin`?

[2019-01-08 07:58] mythi commented on #55
Obsoleted by #145 and #146

[2019-01-08 07:58] #55 closed

[2019-01-08 09:11] bart0sh commented on #148
Yes, it's correct.
lspci output is not masked inside containers as far as I know at least. You can see all PCI devices in the output, not just FPGA accelerators.

[2019-01-08 10:39] bart0sh commented on #148
@khrd

Can you run these commands inside the container and show me the output, please?
[code]

[2019-01-09 01:04] ldcastell commented on #147
Golang >= 1.11 did the trick, thanks!

[2019-01-09 01:04] #147 closed

[2019-01-09 01:14] khrd commented on #148
Thanks for the reply.
here are the results(I tried both mode).

## inside the container (af mode)
### lsmod
[code]

### ls -la /dev/intel-fpga*
[code]

## inside the container (region mode)
### lsmod
[code]
### ls -la /dev/intel-fpga*
[code]

[2019-01-09 11:06] mythi commented on #146
My expectation is that once the plugin is running, the number for <kernel VF driver> remains constant:

[code]

[2019-01-09 12:01] bart0sh commented on #148
@khrd  thanks. The output looks ok except of one thing:
[code]

I have never seen this before. Usually port devices are named /dev/intel-fpga-port.N, where N is a number. Are you sure it's /dev/intel-fpga-port.a ?

Anyway, I'm not able to reproduce this issue on my setup. I have the same setup - 2 Arria 10 DCP1.1 cards on a  DELL R720 machine flashed with nlb3 green bitstream:

[code]

The plugin

[2019-01-10 08:33] khrd commented on #148
I appreciate your help with this.

Actually, the OPAE kernel driver v1.0.2-2 was installed.
So, I updated `opae-*-driver-1.1.0-2*.rpm` and `opae*1.1.0-2*.rpm`.
But, I found that one of FPGA has trouble ( It failed diagnostics with NLB_3 on the host machine).
I might it take a long to resolve this problem.
I'll try asking vender support.

Anyway, Thank you for your support!

[2019-02-18 12:06] rojkov opened #155 ""make build" against vendored Kubernetes v1.13 fails"
The code generated with the codegenerator from `client-go` v8.0 isn't compatible with the latest K8s release. As result `make build` produces this output:
[code]

Upgrade vendored K8s packages to v1.13 and fix the build issues.

[2019-02-19 15:46] rojkov opened #158 "Automate e2e testing for fpga_admissionwebhook"
The proposed design is that the Makefile target `e2e-test` depending on `intel-fpga-admissionwebhook`

1. creates a cluster with [kind](https://kind.sigs.k8s.io/),
2. copies the image `intel-fpga-admissionwebhook:devel` to the cluster's container,
3. import the image inside the cluster,
4. deploys the webhook,
5. creates a test pod like
[code]
6. waits until the pod gets successfully mutated to
[c

[2019-02-20 08:58] rojkov opened #159 "Add support for Bazel-based builds"
This way we can improve reproducibility of the builds and remove dependency on Docker/Buildah when building container images.

[2019-02-20 14:41] bart0sh opened #160 "Broken link to QAT screencast"
We have a broken link on our demos page:
https://asciinema.org/a/H723QlyIf69H6Rpv0YihCtcKw

It leads to error page with:
[code]

[2019-02-20 15:11] mythi commented on #160
@nolancon

[2019-02-27 17:17] gianlazz opened #163 "Support for Intel Movidius Neural Compute Stick?"
Any chance of seeing a plugin for supporting using the ncs with kubernetes? I'd really like to be able to use it in my cluster.

[2019-02-28 07:26] rojkov commented on #160
Fixed in #162

[2019-02-28 07:26] #160 closed

[2019-03-06 00:00] eadamsintel opened #165 "Dockerfile for openssl-qat-engine fails to build with debian:sid as builder"
I am not sure what exactly is going on but the ca-certificates package refuses to install.  Below at 1 is what the failure looks like using the Dockerfile as is. Below at 2 is when I modified the docker file to try to specify installing ca-certificates right after the apt-get update.  This failed on 3 different Clear Linux machines with builds from December and from March. These machines are all b

[2019-03-06 05:36] mythi commented on #165
@eadamsintel I ran a fresh build and I'm unable to reproduce this. My log output is:

[code]

[2019-03-06 18:33] eadamsintel commented on #165
I just setup Clear Linux again and it happens again so I can consistently reproduce it.   I can give you credentials to check this out if you want.  It does build successfully on other machines but I now have 3 servers this fails on.

[2019-03-14 00:58] khrd opened #166 "OpenCL does not work on servers with two PACs"
Hi. Using this plug-in,
I'm trying OpenVINO container with FPGA.

When run OpenVINO on my DELL R640 with one PAC,
I could execute inference with FPGA without any problem.

But, on my DELL R740 which has 2 PAC,
I could not execute OpenVINO inference or OpenCL memory diagnostics.

I attached some experiments log.
Please find it.

# log summary

please find detailed log of these 6 patterns below.

-

[2019-03-14 09:44] bart0sh commented on #166
Thank you for reporting the issue. Can you provide more info on your configuration, please? Which version of Acceleration Stack for Runtime do you use? Does the error persist with the latest OPAE version?

[2019-03-18 01:00] khrd commented on #166
Thank you for replying. I tried `opae v1.0.2-1` and `opae v1.1.0-2`.
Scheduling has succeeded, pod will also start.
However, OpenCL commands do not work.

[2019-03-21 16:12] kad commented on #163
Do you have more than one Movidius NCS per node? Do you have also any other actively used USB devices on the same node?

[2019-03-21 16:15] kad opened #167 "Check that FPGA mapping is working correctly within namespace bounds"
In some of the tests I've noticed that pod that requested FPGA in namespace default was successfully admitted with mappings from kube-system namespace.
It should fail if mapping is not present in namespace of the pod.

[2019-03-21 16:16] kad opened #168 "Upgrade to OPAE 1.3.0"
Evaluate and potentially upgrade the tools in init container to OPAE SDK 1.3.0 (or later)

[2019-03-21 16:18] kad opened #169 "Create new demos based on OpenVINO"
For FPGA and maybe GPU demos we can use something from https://software.intel.com/en-us/openvino-toolkit/choose-download to create more spectacular demos

[2019-03-21 16:21] kad opened #170 "Evaluate usage of FPGA/GPU/QAT devices on nodes with SELinux enabled."
In order to support properly usage of our device plugins with OpenShift on top of CentOS/RHEL hosts, we need to validate that SELinux policies are not conflicting with any of the devices.

[2019-03-21 16:23] kad opened #171 "Evaluate operator approach to distribute out-of-tree kernel drivers and tools for accelerators"
For FPGA and QAT we want to evaluate means on how to distribute and automate lifecycle of out-of-tree kernel modules and tools via operators.

Reference:
https://github.com/zvonkok/special-resource-operator

[2019-04-03 11:25] #155 closed

[2019-04-04 05:01] khrd commented on #169
FYI
https://github.com/khrd/openvino_container_for_PAC

[2019-04-08 07:15] bart0sh commented on #169
FYI
https://gitlab.devtools.intel.com/ebartosh/openvino-docker

[2019-04-09 11:35] #167 closed

[2019-04-10 09:49] mythi commented on #165
@eadamsintel Is this still an issue or was it the runc vs kata setup you had?

[2019-04-10 15:24] eadamsintel commented on #165
This can be closed. Clear Linux configures Kata as the default runtime which was causing the issue.

[2019-04-10 15:37] mythi commented on #165
@eadamsintel thanks for the confirmation, closing

[2019-04-10 15:37] #165 closed

[2019-05-02 10:56] ipuustin commented on #171
I'm interested in this. The linked resource operator appears to work using PCI ids. Do you know if it can be  used for FPGA or QAT use cases without changes if a suitable driver container was created?

[2019-06-05 06:26] Huihuihh opened #186 "Use FPGA in container"
I can use FPGA in a  physical machine with opencl, but I can not use it  the same way in
 container.  And I see, I can not aocl program a aocx file in container. Can someone tell me how to use FPGA in a container, whether it doesn't make sense to use it in containers. If not, can  give me a artificial intelligence demo to use FPGA in container

[2019-06-05 09:20] bart0sh commented on #186
Can you provide a little bit more info about your setup, please? What kind of FPGA hardware, kubernetes version, distro, CRI-O version do you use? How did you setup Intel FPGA device plugin and what kind of errors are you getting/how exactly it doesn't work for you?

You can find a screencast demonstrating setup and usage of FPGA plugin in a kubernetes cluster inside demo/ directory: https://githu

[2019-06-17 15:31] kad opened #191 "FPGA: Failure on creating container if host OS does not have some python modules"
Failure on creating container if host OS does not have some python modules
9926ab6d6c925a68aabca7d84c545738/f7df405cbd7acf7222f144b0b93acd18: can't get bitstream info

[code]

[2019-06-17 15:47] kad opened #192 "Document updating of /etc/crio/crio.conf"
Some installation (e.g. package in ubuntu) has in default config:
[code]
This means that no hooks will be discovered and enabled.
Updates to documentation is needed to make sure that `/etc/containers/oci/hooks.d` is listed there.

[2019-06-18 12:02] bart0sh commented on #186
closed due to inactivity

[2019-06-18 12:02] #186 closed

[2019-06-19 16:59] mv78 opened #196 "Any chance you of Intel RealSense device plugin?"
We are currently building solution on top of Kubernetes and would like to plugin RealSesne cameras all the way into container. It would be really good to see support for USB devices like RealSense.

[2019-06-20 20:00] mythi opened #197 "qat_plugin: README: add notes about kernel mode"
we should add a brief intro about `-mode kernel` in qat_plugin README. It should also add a note about the fact that this mode currently requires all UIO devices mounted in all containers.

[2019-06-24 08:44] shaoyuta opened #198 "demo/ubuntu-demo-opencl looks like can't work"
Hi,
I try to build  demo/ubuntu-demo-opencl, and use it to test gpu_plugin. But it looks like that this demo can't work correctly.

1) If only run this image using docker in host os, this app crashed.

 $ docker run -it --rm -v /dev:/dev -v /etc:/etc -v /opt:/opt --privileged ubuntu-demo-opencl:devel

 $ ./run-opencl-example.sh /root/6-1/fft

Segmentation fault (core dumped)

and at the same time,

[2019-06-25 07:45] tkhred commented on #163
Do you have a plan to offer the plugin for intel HDDL card (e.g. IEI Mustang) ?

[2019-06-26 11:48] rojkov commented on #198
@taotriad could you please take a look?

[2019-07-04 06:50] shaoyuta commented on #198
Hi @taotriad, can you reproduce this issue? or give me some advice about it ?
Thanks.

[2019-07-04 11:20] dweineha commented on #198
I haven't tried the demo; we successfully use the plugin on our test cluster though, so if there's a bug it's likely in the demo rather than the plugin.

But if clinfo cannot get your GPU info it seems that the issue is further down in the stack; is your OpenCL function properly, and does it support the hardware you have?

[2019-07-04 12:32] rojkov commented on #198
I would rather not mount your host's `/etc` and `/opt` to a container, because the demo image have its own OpenCL runtime installed in these directories which may differ from what you have in your host (e.g. beignet on the host and non-beignet in the container).

[2019-07-04 12:55] dweineha commented on #198
I think in general you should *never* mount the host's /etc in your container. There are cases where mounting /opt might makes sense.

[2019-07-09 11:51] eero-t commented on #198
I think simplest test for GPU access is  this Dockerfile (named "test-vainfo" in run example below):
[code]
i965 media/VAAPI GPU driver gets pulled in to the container as "vainfo" dependency .  That supports HW from Haswell to Coffeelake (whereas new iHD driver available from Github would support HW from BDW upwards).

This worked as expected. Container prevented GPU device writes when that wasn't

[2019-07-30 07:15] Antsypc opened #201 "intel-fpga-plugin dial tcp i/o timeout"
intel-fpga-plugin pod get error
[code]

I created Kubernetes cluster as follow. There are two worker nodes in the cluster, node09(110.1.1.109), node10(110.1.1.110)
[code]

I created intel-fpga-plugin DaemonSet as [intel-device-plugins-for-kubernetes/cmd/fpga_plugin](https://github.com/intel/intel-device-plugins-for-kubernetes/tree/master/cmd/fpga_plugin). And I finished all the guides: FPGA device

[2019-07-30 14:38] kad commented on #201
What does your "kubectl get nodes" shows? Do you have node in Ready state and do you have networking properly running between your nodes?

110.1.0.1 is from your service range. You can see if it matches with output of `kubectl -n kube-system get service" for `intel-fpga-webhook-svc`.

Another possibility for this timeout errors might be with proxy configuration. Do you have something in environmen

[2019-08-01 13:51] rojkov commented on #198
I'm closing this issue as it seems to be caused by misuse of docker volumes, not a problem in the plugin. Please reopen if correct volumes don't solve the problem for you.

[2019-08-01 13:51] #198 closed

[2019-08-01 15:14] kad opened #202 "Switch to 'go mod' instead of 'dep'"
When we will be updating to new version of kubernetes dependecies, let's switch to use `go mod`  and go 1.12+ for our codebase.

[2019-08-01 15:17] kad commented on #196
Can you share a bit more details?
E.g. which version of the RealSense hardware you're using?
Have you already tried to use RealSense with e.g. Docker command line?

[2019-08-02 06:42] mv78 commented on #196
We are using Intel® RealSense™ Depth Camera D435i
Yes, using librealsense inside docker by using hostpath mount.
However, would like to plug USB device as device plugin and utilize Kubernete heals check mechanism to monitor and recover camera if camera fails etc.

[2019-08-05 12:24] kad commented on #196
Can you share of your current yaml file with hostpath mounts?

[2019-08-07 21:15] mv78 commented on #196
We have not yet tried it in the Kubernetes POD; however, I assume it would not be difficult to do given we can use librealsense drivers from inside of the Docker container in this way:
docker run -it --privileged -v /dev:/dev ...
The same would equate to elevated privilege container and r/w hostpath to /dev

[2019-08-19 11:53] #197 closed

[2019-08-22 09:41] Antsypc opened #205 "Wrong FPGA device plugin af/region ID"
I followed the doc [cmd/fpga_plugin](https://github.com/intel/intel-device-plugins-for-kubernetes/blob/master/cmd/fpga_plugin/README.md).

Run FPGA device plugin as administrator in `af` mode
[code]

the `af` ID is `af-f7df405cbd7acf7222f144b0b93acd18`, BUT when I run the [demo](https://github.com/intel/intel-device-plugins-for-kubernetes/blob/master/demo/test-fpga-region.yml) and replaced `fpga.i

[2019-08-22 10:43] bart0sh commented on #205
Hi,

From the first look you might be using different FPGA firmware. Can you show the output of the below commands. I assume that you've programmed the device with nlb0 bitstream.

[code]

[2019-08-22 10:53] bart0sh commented on #205
@Antsypc I can already see from the issue description that your region id is a9f2d0f3b39857b0b34fd226bf364fee

Currently plugin supports only dcp1.0 and dcp1.1 interface ids. You can see them in deployments/fpga_admissionwebhook/mappings-collection.yaml

We'd be happy to accept PR implementing support for other dcp versions.

[2019-08-22 10:54] bart0sh commented on #205
@Antsypc btw, which FPGA device model are you using?

[2019-08-22 11:58] Antsypc commented on #205
@bart0sh Thanks for your help! I'm really appreciate that!

Here are outputs
[code]

I'm not sure what do you mean `FPGA device model`, how can I get that information from my centOS7. How can I get version of dcp interface ids of my devices? Sorry for my poor knowledge.

Thanks again!

[2019-08-22 13:19] bart0sh commented on #205
@Antsypc Interface Id of your device is a9f2d0f3b39857b0b34fd226bf364fee. You can add it to mappings-collection.yaml and apply the changes with ```kubectl apply -f mappings-collection.yaml```. That should make the mapping working.

By device model I mean FPGA hardware model, e.g. Arria 10 or Stratix 10.

[2019-08-22 13:36] kad commented on #205
According to release notes, this interface ID seems to belong to 2.0 (Pre-Beta) Statix10 (d5005) PAC card: https://www.intel.com/content/www/us/en/programmable/documentation/edj1542148561811.html#pao1544211266875

[2019-08-22 13:39] kad commented on #196
Well, running it in privileged mode and especially exposing host OS /dev to workload inside container is not secure. Practically it means that malicious software inside container can do whatever with host OS and any other workloads. That's why I was curious on what is minimal required privileges for realsense camera. I unfortunately don't have that hardware in hand to try it myself.

[2019-08-25 18:41] #192 closed

[2019-08-25 19:47] kad commented on #168
Done as part of #199

[2019-08-25 19:47] #168 closed

[2019-08-25 19:49] kad commented on #205
@Antsypc  you can check examples of updating mappings for different cards in https://github.com/intel/intel-device-plugins-for-kubernetes/pull/199/commits/6395b1626d1e82754de6ae4a884a732dbc3d163b

[2019-08-25 19:50] kad commented on #201
No activity. Closing. Please re-open if problem persists.

[2019-08-25 19:50] #201 closed

[2019-08-25 19:50] kad commented on #191
Resolved as part of PR #199. Python modules dependency dropped.

[2019-08-25 19:50] #191 closed

[2019-08-25 19:52] kad commented on #166
With PR #199 merged, this should work with OpenCL bitstreams as well in multi-card configuration.

[2019-08-25 19:54] kad commented on #148
This should be fixed with earlier #179 and now updated with #199

[2019-08-25 19:54] #148 closed

[2019-08-26 07:57] bart0sh commented on #166
@kad, @khrd Should we close this issue then?

[2019-08-26 11:06] kad commented on #166
@bart0sh We need to verify it in our Lab, and it would be good if @khrd can verify that in their setup as well. But in theory, yes, it should be closed.

[2019-08-27 12:27] #202 closed

[2019-08-31 23:35] krsna1729 opened #216 "Enable TopologyInfo in pkg/deviceplugin"
Allow passing NUMA information when using pkg/deviceplugin

https://github.com/kubernetes/kubernetes/blob/11678fb1c029ee1f3c7223e87d339b2d0016fdb8/pkg/kubelet/apis/deviceplugin/v1beta1/api.proto#L84-L101

[2019-09-03 23:53] khrd commented on #166
No problem.
I will open this issue again when I find error.
thank you!

[2019-09-03 23:53] #166 closed

[2019-09-04 22:06] linjiach commented on #169
code that is not reviewed yet: https://gitlab.devtools.intel.com/ssp-demos/kubernetes/fpga-device-plugin/blob/master/Dockerfile.openvino_fpga.ubuntu

I put together a dockerfile for dcp1.2 and openvino this could be used to run openvino benchmark etc.

[2019-09-04 22:11] linjiach opened #218 "Screencast video is not up to date"
Can we update the screencase video to match current screencast.sh and the updated clearlinux-demo-opae demo?
The current video shows using intel-fpga-demo-compress:devel which doesn't exist in the repo.

[2019-09-14 19:33] #171 closed

[2019-09-14 19:35] #205 closed

[2019-09-20 03:08] mdjxyf opened #225 "VCA1(VCA1283LVV) support？"
I installed the plug-in in the VCA card , but when I started gpu_plugins, I saw the following error through debug mode:
![image](https://user-images.githubusercontent.com/55568070/65294771-cd24e980-db91-11e9-9050-fbd4bfe4be1a.png)

Is VCA1 supported?

[2019-09-20 13:09] kad commented on #225
From debug output that you shown, yes, device plugin was able to detect correctly `card0`.
Do you observe any issue with it if your workload tries to use the GPU?

[2019-09-23 01:35] mdjxyf commented on #225
Thank, Kad.  Since I am new to the VCA card, do you have any suggestions for me to verify if the GPU is working?

[2019-09-25 02:53] mdjxyf commented on #225
Each NODE node on VCA card communicates with NAT. Can it be bridged? If not, how does the node on VCA communicate with other physical hosts?

[2019-09-26 16:22] kad commented on #225
@mdjxyf to verify that it is working, you can do `kubectl describe node XXXX` where your plugin runs. you should see resources exposed by plugin.
For network question, unfortunately I'll not be able to help much here, haven't tried myself this particular version of the card. In theory, on the host OS, you can do bridge from your VCA "veth" to host's physical ethernet.

[2019-10-18 21:06] ababushk commented on #163
It would be great to manage myriad sticks through kubernetes pod settings.
We're using Kubernetes with Jenkins Kubernetes plugin to run tests on CPU, GPU and Myriad, but for the latter we use 'hacky' solution implemented via Jenkins Pipeline lock() step because two apps can't use one myriad stick at the same time but we still want to run CPU or GPU test on a node to which NCS installed

[2019-10-21 20:41] ababushk commented on #163
Oops, I was wrong. It seems for my purpose Kubernetes extended resources functionality is enough (https://kubernetes.io/docs/tasks/administer-cluster/extended-resource-node/)

[2019-10-25 09:45] mdjxyf commented on #225
Thank , Kad . On the node of VCA, install the node program of k8s, but after installing docker, the node cannot be connected through SSH after rebooting. I guess it's because docker has modified the network part, but I don't know where it is. Do you know?

[2019-11-01 11:10] mythi opened #227 "opae-nlb-demo: install content in /usr/local"
in order to better separate between "base image" and add-on content.

[2019-11-01 11:12] mythi commented on #227
@hectoragb would you be able to help with this?

[2019-11-01 11:13] mythi opened #228 "gpu deployment: mount /dev/dri only"
Looks like we don't need to bind mount full `/dev`. Can we limit that to `/dev/dri/`?

[2019-11-01 11:15] mythi opened #229 "non-root workloads"
Implement (with documentation) cluster/node setup scripts and deployments that allows to run non-root workloads.

[2019-11-01 16:07] hectoragb commented on #227
Sure, @mythi

[2019-11-04 08:25] SidneyAn opened #230 "gpu: plugin exit gracefully on host without particular HW device."
intel-gpu-plugin will crash on host without Intel GPU (i915 driver) like following.
`controller-1:~$ kubectl logs intel-gpu-plugin-8sqch -n kube-system`
`GPU device plugin started`
`Device scan failed: open /sys/class/drm: no such file or directory`
`Can't read sysfs folder`
`main.(*devicePlugin).scan`
        `/go/src/github.com/intel/intel-device-plugins-for kubernetes/cmd/gpu_plugin/gpu_plugin.

[2019-11-19 02:57] LuyaoZhong opened #233 "Current doc is all about how to deploy a device plugin. Could you please add more description about the device and how to use the plugin?"

[2019-11-19 05:57] mythi commented on #233
@LuyaoZhong demo folder has several application deployments that request resources provided by the plugins. The screencast videos linked in the README might also help.

[2019-11-26 14:36] ipuustin opened #234 "QAT plugin kerneldrv mode is not passed to Docker build"
It seem that the `kerneldrv` build tag might not get propagated correctly to the QAT plugin Docker build.

    $ make BUILDTAGS=kerneldrv intel-qat-plugin

    ... <snip part of build logs> ...

    Step 9/18 : ARG TAGS_KERNELDRV=
     ---> Running in 6ac3ccad1fbd

    ... <snip part of build logs> ...

    Successfully tagged intel/intel-qat-plugin:devel
    $ docker run -it --rm intel/intel-qat-

[2019-11-26 15:17] mythi commented on #234
@ipuustin the dockefile arg is `TAGS_KERNELDRV` but it seems `build-image.sh` resets `BUILDTAGS`...

[2019-12-09 06:14] mythi commented on #227
@hectoragb please submit the PR for review

[2019-12-10 14:46] mythi commented on #233
@LuyaoZhong is this still valid?

[2019-12-12 08:36] #228 closed

[2019-12-12 11:00] LuyaoZhong commented on #233
@mythi Sorry for this late reply. I mean could you please add more description about what every step is doing(e.g. for FPGA, what is admission webhook doing, what is CRI-O hook doing), some basic notions about the devices, and some useful links which can help newbies/me. :D

[2019-12-14 06:50] hectoragb commented on #218
@mythi You may close this issue as the screencast video has been updated

[2019-12-18 09:27] xxinran opened #240 "Should update the API version cause Kubernetes v1.16 has deprecated some API version."
Refer to https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/, DaemonSet, Deployment(in the extensions/v1beta1 and apps/v1beta2 API groups) has been
migrated to use the apps/v1 API, available since v1.9.

I met this issue when create intel-fpga-webhook-deployment, please see my code update below:
![image](https://user-images.githubusercontent.com/40164212/71073579-9e7fd480-21bb-11ea-88b

[2019-12-18 09:35] bart0sh commented on #240
This has been taken care of. [The PR](https://github.com/intel/intel-device-plugins-for-kubernetes/pull/238) is under review.

[2019-12-18 09:35] #240 closed

[2019-12-18 09:48] #218 closed

[2019-12-20 16:03] hectoragb commented on #227
@mythi Could you please close this one as per https://github.com/intel/intel-device-plugins-for-kubernetes/pull/239?

[2019-12-21 07:54] #227 closed

[2020-01-07 08:02] mythi commented on #229
documented part of #236 and #237

[2020-01-07 08:02] #229 closed

[2020-01-13 12:29] msivosuo opened #248 "New Clear Linux base image for containers"
Lock Clear Linux build/version for release Dockerfiles.

[2020-01-13 12:32] msivosuo opened #249 "k8s.io Go Mod update + testing"
Complete https://github.com/intel/intel-device-plugins-for-kubernetes/pull/245 and test.

[2020-01-13 12:37] msivosuo opened #250 "Topology hints"
The device plugins must provide topology hints. Use code from CRI-RM.

[2020-01-13 12:41] msivosuo opened #251 "Required v0.18 Release Checks"
Complete required release checks.

[2020-01-13 12:43] msivosuo opened #252 "OPAE 1.4.x update for FPGA"
Update to OPAE 1.4.x release.

[2020-01-13 12:45] msivosuo commented on #233
In addition we should:
- explain the two drivers, two modes
- Update the screencast.

[2020-01-13 12:52] msivosuo opened #253 "e2e tests using k8s e2e test framework"
Implement e2e tests for GPU, QAT, FPGA and webhook.

[2020-01-13 12:53] msivosuo opened #254 "Kustomize"
Goals:
1. qat plugin to be deployable with kubectl apply -k qat_plugin/VERSION (VERSION being devel or a release tag)
2. gpu plugin to be deployable with kubectl apply -k gpu_plugin/..., possibly configurable command line parameters if needed
3. fpga plugin to be deployable with kubectl apply -k fpga_plugin/..., different kustomizations for different run modes (preprogrammed vs orchestrated)
4. an

[2020-01-13 12:54] msivosuo opened #255 "Validate kubeadm cluster add-on deployment"

[2020-01-13 12:56] msivosuo opened #256 "OpenShift on Clear + Device Plugins verification"
Setup OpenShift and Device plugins.

[2020-01-13 12:59] msivosuo commented on #256
@CraigSterrett - is this still a valid issue?

[2020-01-13 13:01] msivosuo opened #257 "FPGA Plugin Go unit tests cleanup, increased coverage"
target is >80% test coverage

[2020-01-13 13:01] msivosuo opened #258 "Automated image updates for release branches"

[2020-01-13 13:16] msivosuo commented on #252
https://github.com/intel/intel-device-plugins-for-kubernetes/pull/247

[2020-01-13 19:00] hectoragb opened #259 "fpga_plugin is failing to get deployed"
System summary:

[code]

In order to reproduce the issue, the following steps are used:

[code]

`kubectl create -f /home/clear/workspace/bmaas-test-intel-device-plugins-kubernetes/intel-device-plugins-for-kubernetes/deployments/fpga_plugin/fpga_plugin.yaml` is used to deploy the fpga plugin. However, after a while the command `kubectl get pods -n kube-system` return something similar to the follo

[2020-01-13 19:01] hectoragb commented on #259
@bart0sh @mythi

[2020-01-14 09:26] bart0sh commented on #259
@hectoragb thank you for the report.

I'm not yet able to reproduce it on my system though:

[code]

I'll investigate further. If you spot the difference in your and my configurations/environment please let me know.

[2020-01-14 09:46] bart0sh commented on #259
It seems that /dev/termination-log doesn't exist on your system and cri-o tries to create it and fails. Tweaking terminationMessagePath for the pod should solve it. I'll come up with the fix ASAP.

[2020-01-14 09:47] poussa opened #260 "GPU plugin fails on CoreOS"
[code]

[code]

[2020-01-14 19:39] msivosuo commented on #233
Updated screencast: https://github.com/intel/intel-device-plugins-for-kubernetes/pull/262

[2020-01-15 08:22] #259 closed

[2020-01-15 10:30] grahamwhaley commented on #233
I also think we could do with a bunch more info on the front page of the repo describing more of what the framework is and how it plugs into k8s (personally I like diagrams as well).
The way the ToC entries for the sub-components (fpga, gpu etc.) leap off to other documents further down the tree is really strange as well - the ToC should point to sections on the main page, that then probably have

[2020-01-15 10:52] grahamwhaley commented on #230
Looks like we should at least fail more gracefully.
OOI @SidneyAn - how did you deploy the plugin to the node(s) - that may make some difference as well to how it is handled, as if via a daemonset, I think if not handled carefully then the daemonset can get stuck in a retry loop.

[2020-01-15 11:10] bart0sh commented on #248
We should also lock docker.io/intel/ images for the release. All images used by plugins should be tagged and yaml files should use release tags.

[2020-01-15 11:17] mythi commented on #248
@bart0sh this is done in the release branches. the .yamls are modified to pull the release tag.

[2020-01-20 08:45] msivosuo commented on #249
Implemented by #245, closing.

[2020-01-20 08:45] #249 closed

[2020-01-20 11:13] mythi commented on #260
Don't crash/exit but report no devices?
[code]

[2020-01-21 09:22] mythi commented on #250
@bart0sh
https://github.com/intel/cri-resource-manager/tree/master/pkg/sysfs

[2020-01-21 10:05] msivosuo commented on #252
Implemented by https://github.com/intel/intel-device-plugins-for-kubernetes/pull/247, closing

[2020-01-21 10:05] #252 closed

[2020-01-21 10:26] #158 closed

[2020-01-21 15:18] grahamwhaley commented on #233
See #268 for improvements to FPGA documentation.

[2020-01-22 11:26] mythi commented on #260
/cc @grahamwhaley

[2020-01-22 13:26] danfairs commented on #196
For what it's worth - I'm also interested in this, and have things working in a container much as @mv78 did (albeit mounting `/dev/bus/usb`, not the whole of `/dev`. Running with `--privileged` is certainly not ideal of course, but in our use case we control the whole stack so is not a showstopper.

[2020-01-24 09:43] rojkov commented on #163
@tkhred wrt HDDL you might be interested in #273.

[2020-01-25 04:20] alekdu commented on #163
Yes, the HDDL should work for even single NCS stick. A kind of overkill, but it works.

[2020-01-26 06:48] tkhred commented on #163
Thanks.
I'll check #273

[2020-01-27 13:46] grahamwhaley opened #274 "gpu: update k8s 'schedule GPUs' website page"
The k8s docs page https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/ details how to schedule GPUs. Presently there is no mention of Intel GPUs (but are mentions of other vendors).

At the appropriate time we should discuss/Issue/PR to get that page updated, which may mean either:
- adding Intel GPUs to that page
- or, if the trend is to remove vendor specific information from such pages

[2020-01-29 11:44] mythi opened #276 "run go mod tidy"
perhaps clean-up `go.mod/go.sum`?

[2020-01-29 11:57] askervin commented on #254
More detailed goals:

1. qat plugin to be deployable with `kubectl apply -k qat_plugin/VERSION` (`VERSION` being devel or a release tag)

2. gpu plugin to be deployable with `kubectl apply -k gpu_plugin/...`, possibly configurable command line parameters if needed

3. fpga plugin to be deployable with `kubectl apply -k fpga_plugin/...`, different kustomizations for different run modes (preprogramm

[2020-01-29 11:58] rojkov commented on #276
I guess this should be a part of `make format` check in TravisCI.

[2020-01-29 12:00] mythi commented on #276
+1

[2020-01-29 12:14] msivosuo commented on #233
@kad, @rojkov -could you take a look at #268, thanks!

[2020-01-29 12:35] msivosuo commented on #256
Needs to be split to plugin specific operators. Let's revisit this after cluster add-on feature merged to K8s.

[2020-01-29 12:36] msivosuo commented on #255
Needs to be split to plugin specific operators. Let's revisit this after cluster add-on feature merged to K8s.

[2020-01-29 13:57] bart0sh opened #278 "make fails to build vpu plugin"
Make fails with this error:
[code]

It can probably be fixed by installing libusb-1.0-0-dev, but it should be handled better I believe.

[2020-01-29 14:00] bart0sh commented on #278
/cc @alekdu

[2020-01-29 14:05] alekdu commented on #278
Right, in the merged patch, both Jenkins and .Travis.xml added libusb-1.0-0-dev. That is the dependency of gousb module I think.

[2020-01-29 14:13] askervin commented on #254
Reasoning for the work:
- provide end users an easy and consistent way to deploy the plugins and add their own customizations
- improve deployment maintainability by removing duplication

[2020-01-29 16:51] CraigSterrett commented on #256
This is still valid as of today.

[2020-01-29 19:35] mythi commented on #254
@askervin FYI, deployments from the repo works:

[code]

[2020-01-30 07:12] mythi commented on #278
Makefile to run pre-checks?

[2020-01-30 07:14] mythi commented on #254
This may not be necessary since we can already do

[code]

[2020-01-30 09:25] grahamwhaley commented on #254
I did consider doing the direct-from-URL deploys in the docs updates, which in the case of using the default images and setup would avoid pulling the sources down. But, one change at a time....

[2020-01-30 12:50] #260 closed

[2020-01-30 12:50] #230 closed

[2020-02-03 09:20] bart0sh commented on #278
build inside a container?

[2020-02-03 10:10] mythi commented on #278
@bart0sh but container builds we have already. Do you think the default build target should be `images`?

[code]

[2020-02-03 17:14] #276 closed

[2020-02-04 14:00] thkukuk commented on #163
HDDL seems to be more than overkill. It would be really nice to see direct support for a NCS2 stick.

[2020-02-04 14:52] mythi opened #287 "move to Github Actions"
...and replace the Travis functionality with it

[2020-02-04 16:38] mythi commented on #163
From what I've understood it gives us device abstraction and deals with usb device resets etc. Would you have an idea how to deal with those in a device plugin and allow non-privileged workloads to use the device?

[2020-02-04 20:28] thkukuk commented on #163
But it is binary only.

[2020-02-05 08:55] bart0sh commented on #287
Another 2 options to consider are CircleCI and Gitlab CI/CD.

[2020-02-07 13:33] askervin commented on #254
PRs contributing to this issue:
- QAT plugin - PR #286
- GPU plugin - PR #288

[2020-02-09 21:56] CyberPoison opened #290 "unknown revision v0.0.0 when go get -d -u command"
Hello everyone, i'm new on golang so sorry if this is the wrong github to publish my issue.

Well my issue is than when i try to install intel device plugins for kubernetes.
i get this issue

[code]

this is my go env

[code]

go version latest (v1.13.7)

Is there a way to workarround my issue ?

Kind Regards,

[2020-02-10 14:43] #250 closed

[2020-02-12 12:08] msivosuo commented on #233
Closing as this is now addressed, @LuyaoZhong please reopen or create a new issue if you still feel there are gaps.

[2020-02-12 12:08] #233 closed

[2020-02-12 12:20] mythi commented on #216
Done.

[2020-02-12 12:20] #216 closed

[2020-02-12 12:35] msivosuo opened #292 "QAT device plugin validation on real hardware"
Validate QAT device plugin on real hardware

[2020-02-12 12:36] msivosuo opened #293 "FPGA Device Plugin Validation on real hardware"
Validate FPGA device plugin on real hardware.

[2020-02-12 12:37] msivosuo opened #294 "GPU device plugin validation on real hardware"
Validate GPU plugin on real hardware.

[2020-02-15 04:51] CyberPoison commented on #290
Any help?

[2020-02-15 06:20] mythi commented on #290
@CyberPoison would `git clone` the repository unblock you? What's your goal?

I was able to reproduce the issue even with:
`go get -d -u github.com/intel/intel-device-plugins-for-kubernetes@master`

[2020-02-16 02:52] CyberPoison commented on #290
My goal is to use hw transcoding on plex pods but on rke but since the plug-in doesn't install because I get the error mentioned above, i tried many thing BTW, how can I install Intel plug-in kubernets by git clone without using go get?

[2020-02-17 05:39] mythi commented on #290
@CyberPoison The plugin images can be found in Dockerhub (intel/intel-XXX-plugin). Would those work?

You can `git clone` to `cd $GOPATH/src/github.com/intel/intel-device-plugins-for-kubernetes` and then follow [the build instructions](https://github.com/intel/intel-device-plugins-for-kubernetes/tree/master/cmd/gpu_plugin#build-the-plugin-image)

FWIW, you've reported a real problem. We'll look in

[2020-02-17 08:47] CyberPoison commented on #290
By using ```git clone ``` to cd $GOPATH/src/github.com/intel/intel-device-plugins-for-kubernetes
and after followed the build instruction have worked fine for me.

Many thanks ;)

[2020-02-19 14:00] #253 closed

[2020-02-24 10:42] #290 closed

[2020-02-24 16:22] rojkov opened #301 "Eliminate FPGA admission webhook's mode"
Problem:

It is possible to run the FPGA device plugin in two different modes on different nodes of the same cluster. Yet the admission webhook can be aligned to work with FPGA device plugins in either preprogrammed or orchestrated mode. The webhook needs to be redesigned to be agnostic about the device plugins' modes. Also when operating in preprogrammed mode it is impossible to differentiate nod

[2020-02-25 15:25] bart0sh opened #303 "webhook throws "tls: bad certificate" error"
Admission controller webhook throws this error when trying to modify pod referencing FPGA resource.
The pod spec: https://github.com/intel/intel-device-plugins-for-kubernetes/blob/master/demo/test-fpga-region.yaml
webhook log:
[code]

As a result resource is not mapped:
[code]

Steps to reproduce:
1. ./scripts/fpga-plugin-prepare-for-kustomization.sh
2. kubectl create -k deployments/fpga_plugin/ov

[2020-02-25 16:07] rojkov commented on #303
I remember I saw this error when CA_BUNDLE was in wrong format: it should be a PEM encoded once again in base64 in ONE line (i.e. piped through `base64 -w 0`).

[2020-02-26 08:45] askervin commented on #303
When I'm comparing `caBundle:` value injected to the yaml by kustomize, and `base64 -w 0` output injected to the yaml by `webhook-deploy.sh`, there doesn't seem to be any difference.
[code]

Do you think there could be some other explanation, too?

[2020-02-26 10:44] askervin commented on #303
@bart0sh , @rojkov , root caused, fix in PR #305

[2020-02-26 11:05] bart0sh commented on #303
Should we consider using getopt[s] to avoid this kind of things in future?

[2020-02-26 18:50] #303 closed

[2020-02-28 11:20] #254 closed

[2020-03-01 23:12] pisymbol commented on #163
I have a Raspberry Pi 4 based cluster and a few NCS sticks. Can this be supported?

[2020-03-02 10:26] mythi opened #309 "ubuntu-demo-openvino: install from deb packages"
...instead of downloading the bug .tar.gz, install the necessary packages from the openvino apt repo.

[2020-03-02 10:26] mythi commented on #309
/cc @alekdu

[2020-03-02 19:31] mythi commented on #309
looks like the hddl packages are not available :/

[2020-03-03 01:05] alekdu commented on #163
@pisymbol theoretically, yes. It should support. But you may need handle some NCS reset logic. The bsl_reset with the hddldaemon may need replaced with your own NCS reset code. I guess you have some GPIOs to reset NCS right ? The default bsl_reset support several GPIO reset method like, i2c GPIO expander, i2c HID driver.

[2020-03-03 01:24] alekdu commented on #163
The bsl_reset source code is available at: /opt/intel/openvino/deployment_tools/inference_engine/external/hddl/hddl-bsl/src
if you pull the hddldaemon container from: openvisualcloud/vcaca-ubuntu1804-analytics-hddldaemon

[2020-03-04 13:41] thkukuk commented on #163
@pisymbol Works fine (https://github.com/thkukuk/demos/tree/master/Hackweek19), but unfortunately not with this plugin. I did build the Myriad plugin from the dldt source with "NO_BOOT" and wrote a cli to boot the NCS stick before starting kubelet/the containers.
https://github.com/thkukuk/myriadctl
Version 0.3 is based on dldt 2019.R3, the current head on dldt 2020.1

[2020-03-04 14:08] pisymbol commented on #163
@thkukuk Not to thread crap here but... so you installed dldt from source on a worker node and then advertised using extended resources (I see you just made something up to advertise the dongle with resource 1). Is that right?

Btw, feel free to email me (gmail.com) if you want to take this discussion offline. I'd really like to get my NCS stick to work with my cluster

[2020-03-05 05:09] #248 closed

[2020-03-10 09:17] msivosuo opened #317 "Adapt to K8s 1.18 API changes"
Ensure K8s 1.18 API changes are taken into account in Intel device plugins.

[2020-03-10 09:18] msivosuo opened #318 "Finalize FPGA kustomize"
- [ ] Move FPGA kustomization out of “beta” and align with changes in #301.
- [ ] Update documentation
- [ ] Update the screencast to match kustomization based deployment
- [ ] Add kustomization for `opae-nlb-demo` deployments

[2020-03-10 09:19] msivosuo opened #319 "QAT: non root workloads"
Change QAT plugin to allow cluster admins specify which non-root user is allowed to use VFIO devices

[2020-03-10 09:20] msivosuo opened #320 "QAT initcontainer to enable SRIOV"
Add an initcontainer to QAT plugin deployment to enable QAT SR-IOV

[2020-03-10 09:20] msivosuo opened #321 "E2e: automate parts of security validation"

[2020-03-10 09:21] msivosuo opened #322 "E2e: VPU"
Implement VPU Plugin e2e validation tests.

[2020-03-10 09:22] msivosuo opened #323 "Klog logging"
switch to use k8s.io/klog for logging and harmonize log level parameters across all plugins

[2020-03-10 09:24] msivosuo opened #324 "Intel Device Operator"
Implement one lifecycle operator for all intel device plugins
- [x] Study
- [x] Support and documentation for GPU and QAT

[2020-03-10 09:28] mythi commented on #322
@alekdu would you have the time to work on this? Check the README for more details about e2e tests.

[2020-03-10 14:08] #287 closed

[2020-03-11 12:10] msivosuo opened #325 "QAT plugin Go unit tests cleanup, increased coverage"
target is >80% test coverage

[2020-03-11 12:11] msivosuo opened #326 "GPU Plugin Go unit tests cleanup, increased coverage"
target is >80% test coverage

[2020-03-11 12:35] msivosuo opened #327 "Circle CI integration"
Switch to use Circle CI.

[2020-03-11 12:37] kad opened #328 "Unify linters usage"
We should start using golangci-lint instead of standalone tools (vet,shadow,cyclo,lint...) similarly how it was done in https://github.com/intel/cri-resource-manager

[2020-03-11 12:48] msivosuo commented on #323
@grahamwhaley - could you take a look?

[2020-03-11 13:29] grahamwhaley commented on #323
Sure. We probably want to consult with @pohly to ensure we align or prepare for future k8s infra logging changes - I'm thinking in particular wrt to https://github.com/kubernetes/enhancements/pull/1367 for instance.

[2020-03-11 15:05] pohly commented on #323
It looks like the direction in Kubernetes now is to enhance klog incrementally, so starting to use it is a good first step.

[2020-03-11 17:46] grahamwhaley commented on #323
Going to make some notes as I do some prelim investigation...

First note then, is that afaict all components (framework and existing plugins) today use fmt.Print directly. That means all logs end up in their relevant container logs, just like a normal container.

Second note - from [this page](https://kubernetes.io/docs/concepts/cluster-administration/logging/), we see it says:

That reads to me

[2020-03-12 05:30] mythi commented on #323
I don't consider our plugins as system components and would prefer we don't add any extra `hostPath` mounts. `kubectl logs` works.

[2020-03-12 12:11] bart0sh opened #330 "CI build fails on master"
Image building fails with this kind of errors:
[code]

See more details here: https://github.com/intel/intel-device-plugins-for-kubernetes/actions/runs/52997774

[2020-03-12 12:57] mythi commented on #330
I reported this to https://github.com/clearlinux/distribution/issues/1827 yesterday. The fix is on the way. I was told we could also drop `--bundles=os-core` because `os-core` gets installed anyways.

[2020-03-13 11:13] bart0sh commented on #330
let's keep it open as CI builds are still failing.

[2020-03-13 13:23] mythi commented on #330
it'll go away automatically but to make sure it won't hit is again I've submitted: a bug to Github: https://github.com/actions/virtual-environments/issues/550

[2020-03-16 18:43] #234 closed

[2020-03-16 18:57] #330 closed

[2020-03-17 09:40] bart0sh commented on #278
I meant that we can build vpu plugin in a container, but that would probably increase build time.
If you think it's not worth trying please close this issue.

[2020-03-20 09:00] rojkov commented on #294
The existing E2E test for GPU tests if a pod requesting an Intel GPU resource actually gets scheduled on a node. For details see https://github.com/intel/intel-device-plugins-for-kubernetes/blob/master/test/e2e/gpu/gpu.go.
So far I've validated it on a single node cluster and the node being a NUC with Intel Iris GPU.

[2020-03-20 16:48] grahamwhaley opened #346 "ci: coverage: consider adding code coverage check to CI"
With improvements to code coverage, it may be prudent to see if the CI can be made to check for code coverage regression (and at least report them, if not even fail the CI).

Over on Kata Containers for instance https://codecov.io/ is used to do the check. Some links then:

Pull results at the end of a CI run: https://github.com/kata-containers/agent/blob/44b84a6e6515164c5dd8ec735d69ddf6b9f61313/.

[2020-03-21 06:01] lehongwen opened #347 "WARNING: GetTopologyInfo: device /dev/uio5 doesn't exist"
**[root@k8s220 intel-device-plugins-for-kubernetes]# kubectl get pods -o wide**
NAME                     READY   STATUS    RESTARTS   AGE     IP            NODE     NOMINATED NODE   READINESS GATES
intel-qat-plugin-zk84x   1/1     Running   0          7m33s   172.20.0.13   k8s220   <none>           <none>
qat-dpdk                 1/1     Running   0          5s      172.20.0.14   k8s220   <none>

[2020-03-21 06:02] #347 closed

[2020-03-21 06:24] mythi commented on #347
@lehongwen this is a warning that we don't find topology information for `uio_igb` devices. Are you not able to use `vfio-pci`?

[2020-03-23 14:41] grahamwhaley opened #348 "CI: consider using `chronic` to reduce log output"
The CI logs can be pretty big, and mostly full of information about things that worked, that are expected to work, like installing and building components necessary to run the actual tests.
This can make finding the actual error quite difficult. It is probably more difficult in Travis than in Jenkins (which is broken into stages, making it easier to narrow in).
As we are transitioning from Travis

[2020-03-24 08:55] #325 closed

[2020-03-24 20:29] mythi opened #349 "VPU Plugin Go unit tests coverage"
@alekdu we're improving Go unit test coverage for our plugins.

VPU plugin coverage is <50%. Please check if that could be improved still.

Steps:
1.  `make test WHAT=cmd/vpu_plugin`
2. review `cmd/vpu_plugin/coverage.html`

There's not much code in the plugin so while many things are already covered the coverage is poor.

Some ideas:
1. move `sharedDevNum` checking to `newDevicePlugin` and add a

[2020-03-25 12:14] msivosuo opened #350 "Implement FPGA e2e tests"
Implement e2e tests for FPGA plugin similar to what's done in the FPGA demo screencast:
- deployment of all required components
- run nlb0 and nlb3 workflow
- test both af and region modes

[2020-03-26 03:31] alekdu commented on #349
hmm... I will look into this.

[2020-03-27 08:07] sindhura730 opened #351 "qat-plugin is not working with igb_uio"
I'm trying to make QAT VFs (Atom Processor C3000) available to my dpdk based app running in a kubernetes cluster.
I deployed the plugin and it was able to bind the VFs to igb_uio driver and I see intel.qat.com/generic devices becoming available in the node object.
I brought up my app in a pod requesting 4 qat resources. But it throws an error,
`
EAL: PCI device 0000:01:02.3 on NUMA socket -1
EAL:

[2020-03-27 11:16] mythi commented on #351
@sindhura730 thanks for the report. I don't have C3000 online right now but I'll try to compile `igb_uio` to see the result here.

@swatisehgal any comments to:

[2020-03-30 05:41] sindhura730 commented on #351
@mythi I don't think it is specific to C3000. I'll try without the plugin and see if it works.

[2020-03-30 07:16] mythi commented on #351
@sindhura730 I believe so too. What is the dpdk command that fails for you?

[2020-03-30 09:01] sindhura730 commented on #351
I'm trying the demo pod, qat-dpdk mentioned in the documentation.
The following command fails.

dpdk-test-crypto-perf -l 6-7 -w $QAT1 \
-d /usr/lib64/librte_mempool_ring.so.1.1 \
-d /usr/lib64/librte_pmd_qat.so.1.1 -- \
--ptest throughput --devtype crypto_qat \
--optype cipher-only --cipher-algo aes-cbc --cipher-op encrypt \
--cipher-key-sz 16 --total-ops 10000000 --burst-sz 32 --buffer-sz 64

[2020-03-30 09:37] alekdu commented on #349
https://github.com/intel/intel-device-plugins-for-kubernetes/pull/352 please review

[2020-03-30 13:18] sindhura730 commented on #351
I made some changes, and now it is working. Basically mounts are wrong.

`diff --git a/cmd/qat_plugin/dpdkdrv/dpdkdrv.go b/cmd/qat_plugin/dpdkdrv/dpdkdrv.go
index 2ff1420..ec640e7 100644
--- a/cmd/qat_plugin/dpdkdrv/dpdkdrv.go
+++ b/cmd/qat_plugin/dpdkdrv/dpdkdrv.go
@@ -136,11 +136,10 @@ func (dp *DevicePlugin) getDpdkDeviceSpecs(id string) ([]pluginapi.DeviceSpec, e
        // TODO: case "pci-gen

[2020-03-30 14:27] mythi commented on #351
@sindhura730 thanks

[code]

We don't want to provide full `/dev/` but the requested VF devices only.

[2020-03-30 14:56] mythi commented on #351
OK, I'm able to reproduce this and see what's wrong. However,

[code]

is not good because it makes the uio visible in the container... I'll fix this.

[2020-03-30 17:08] mythi commented on #351
I just learnt that cri-o/containerd automatically mounts sysfs read-only in containers so it looks `getDpdkMounts()` is not needed.

[2020-03-31 09:32] #257 closed

[2020-03-31 13:44] mythi commented on #351
@sindhura730 does #353 work for you?

[2020-04-01 03:52] sindhura730 commented on #351
I'll test and get back to you.

[2020-04-01 04:31] sindhura730 commented on #351
Looks like the commit is not merged yet. I did try removing the mount from the code and it didn't work.

Still says, `Cannot open /sys/class/uio/uio7/device/config: Read-only file system`

[2020-04-01 05:06] mythi commented on #351
Looks like I had an error in my test setup. I'll update the PR shortly. Thanks for checking!

[2020-04-01 05:39] mythi commented on #351
@sindhura730 the PR is now updated.

[2020-04-01 07:11] #351 closed

[2020-04-01 10:29] #323 closed

[2020-04-01 10:35] mythi commented on #349
these changes were made...

[2020-04-01 10:35] #349 closed

[2020-04-02 06:29] mythi commented on #351
@sindhura730 can you confirm it works now?

[2020-04-02 08:10] sindhura730 commented on #351
@mythi  It seems to be working now. Thank you.

[2020-04-02 09:21] mythi commented on #351
@sindhura730 thanks!

[2020-04-02 10:07] rojkov opened #356 "Review README files"
Some files got outdated. For example `cmd/gpu_plugin/README.md` describes the installation procedure like we still use `dep` instead of `go mod`.

[2020-04-02 12:28] mythi commented on #356
We just did a bunch of updates. What is outdated?

Where's this?

[2020-04-02 12:37] rojkov commented on #356
Particularly this
https://github.com/intel/intel-device-plugins-for-kubernetes/blob/master/cmd/gpu_plugin/README.md#getting-the-source-code

It's not needed nowadays to clone the repo into a specific path.

[2020-04-02 12:39] rojkov commented on #356
This section https://github.com/intel/intel-device-plugins-for-kubernetes#running-e2e-tests needs to be included in the README's ToC.

[2020-04-02 13:16] mythi commented on #356
true. I touched this part last time (f145541) and IIRC my thinking was that this gives a consistent starting point/path for each higher level section without any bigger re-work...

[2020-04-06 09:10] rojkov commented on #301
So, in this [patch](https://github.com/rojkov/intel-device-plugins-for-kubernetes/commit/7fc3cced86fa5008bfc9e1b5717b38c6614328d5) I made the FPGA plugin expose AFs as `fpga.intel.com/<interface_id><afu_id>` to make AFUs provided by different HW distinguishable.

The problem though is that such resource name is 64 bytes long (32 + 32). Whereas the max resource name length without namespace is 63:

[2020-04-06 09:13] bart0sh commented on #301
I don't. At leat for the POC version.

[2020-04-08 11:52] msivosuo commented on #324
@rojkov, @askervin  - would either of you have time to pick this up? @mythi can provide background information.

[2020-04-09 06:25] askervin commented on #324
@msivosuo , I'll talk with @mythi about this.

[2020-04-09 09:49] msivosuo commented on #324
@askervin  - I talked with @rojkov already and we agreed he's taking a look. But thanks anyway!

[2020-04-09 10:23] bart0sh opened #361 "kustomise doesn't work for admission controller webhook in preprogrammed mode"
Steps to reproduce:

1. Deploy webhook in preprogrammed mode:
[code]

2. check its logs:
[code]

3. Try to create test pod:
[code]

[2020-04-09 10:25] bart0sh commented on #361
From the first look it seems that region CRDs are missed in preprogrammed mode. I'll try to add them and test.

[2020-04-09 10:27] bart0sh commented on #361
@rojkov do we need region CRDs in preprogrammed mode?

[2020-04-09 10:31] rojkov commented on #361
No, for the preprogrammed mode they are not needed. And if #358 gets merged the region CRDs will be needed only to facilitate the case of regions programmed by workloads (see `regiondevel` mode of the FPGA plugin).

[2020-04-09 10:40] bart0sh commented on #361
if it's not needed why the webhook complains that they're not found?
[code]

[2020-04-09 11:16] rojkov commented on #361
The built-in controller that watches CRDs doesn't respect mode and wants to monitor AFs and FpgaRegions irrespective to the current mode: https://github.com/intel/intel-device-plugins-for-kubernetes/blob/d4b366e828ee654a48bd9b028e9ecc0756d240dc/cmd/fpga_admissionwebhook/controller.go#L78.

[2020-04-09 12:23] bart0sh commented on #361
Seems to work after adding region CRDs to the base kustomise yamls. I'll create PR for that.

[2020-04-10 05:41] #361 closed

[2020-04-11 18:00] HugoHJH commented on #196
Did you have any luck working out what privileges are required?

[2020-04-14 13:01] #350 closed

[2020-04-15 06:30] mythi opened #364 "fpga: move to admissionregistration.k8s.io/v1"
Do you see other changes needed than:

[code]

[2020-04-15 13:13] mythi commented on #309
@alekdu looks like OpenVINO 2020.2 from the apt/yum repos have the HDDL tools now available. Can you see if this can be fixed by updating to that release?

[2020-04-16 01:15] alekdu commented on #309
Okay, let me try.

[2020-04-17 06:14] alekdu commented on #309
https://github.com/intel/intel-device-plugins-for-kubernetes/pull/367

[2020-04-17 11:11] #317 closed

[2020-04-17 11:12] #309 closed

[2020-04-19 01:17] todaywasawesome opened #368 "Does intel-gpu-plugin work with Atom x5-Z8350 cpus?"
I get a segmentation fault when I try the demo but maybe I didn't install correctly.

Here are the logs
[code]

And the pod description
[code]

[2020-04-19 01:20] todaywasawesome commented on #368
Here's the description on one of the DaemonSet installer pods.

[code]

[2020-04-20 06:57] rojkov commented on #368
Thank you for the report! I guess we need to implement better HW detection if it's possible.

Even though Atom x5-Z8350 uses the same i915 driver it doesn't support OpenCL. Currently the OpenCL runtime supports CPUs with Intel HD, Iris and Iris Pro graphics.

[2020-04-20 13:42] todaywasawesome commented on #368
Got it, thanks!

On Mon, Apr 20, 2020, 12:57 AM Dmitry Rozhkov <notifications@github.com>
wrote:

[2020-04-21 03:01] todaywasawesome commented on #368
@rojkov Thanks again for the answer. In this case, I actually don't need OpenCL. I'm just looking for access to Intel Quick Sync. I've tried mounting the `/dev/dri` directory in Kubernetes, running the container in privileged mode, making sure the node OS has the intel drivers installed, tested using ffmpeg and found quick sync is working on the host.

I'm reading through the source here to try to

[2020-04-21 04:31] mythi commented on #368
bind mounting the device directory is not enough. The plugin returns the list of devices that are added to the container using device cgroup controller. On my system the list is:

[code]

What are the device nodes your app needs?

[2020-04-21 12:42] todaywasawesome commented on #368
@mythi Oh, I'm not sure how you got that output. How would I check this?

I need to expose `card0` and `renderD128`

Great news to report! I actually got it working!! To test, I started a ubuntu container, installed ffmpeg, and then ran a render and watched the hw acceleration happen on the host node using `intel_gpu_top`.

So the answer to the question is, YES, this plugin actually does expose ev

[2020-04-21 12:58] mythi commented on #368
@todaywasawesome great that it works!

For more verbose logging, I added `-v=4` args to my deployment.

[2020-04-21 17:46] eero-t commented on #368
I think this can be closed.  GPU plugin just provides the device node for K8s containers.  Rest is up to your container contents.  If you want to actually use the GPU mapped to the container, it needs to have a suitable HW driver.

Note that for Media, there are two drivers.  Older HW is supported by the default i965 VA-API driver, newer HW by the iHD intel-media driver [1], with some overlap on w

[2020-04-21 17:56] #368 closed

[2020-04-22 06:21] mythi opened #369 "fpga: prestart hook is deprecated by OCI"
According to [OCI hooks spec](https://github.com/opencontainers/runtime-spec/blob/master/config.md#posix-platform-hooks), `prestart` hook is deprecated. Should we look into moving `createRuntime`?

[2020-04-22 08:26] rojkov commented on #324
braindump on possible functionality: https://docs.google.com/document/d/1raZQKpCIgqmdiI41hCNJL1kmZAYz8xJMzy7OsLJNyVQ/edit#heading=h.fnlack9sz6iv

[2020-04-22 09:55] bart0sh commented on #369
We should wait until runc 1.0 is released and probably wait a bit more until they stabilise new hooks.

[2020-04-22 10:14] mythi commented on #369
agree. I submitted this based on what I learnt today so that we keep an eye on it

[2020-04-22 11:13] msivosuo commented on #327
Github actions sufficient and fast -> moved to backlog

[2020-04-27 07:36] xxinran opened #371 "ServiceAccount creation failed."
When I tried to create a service account by:
**kubectl create -f deployments/fpga_plugin/fpga_plugin_service_account.yaml**, it occurs:
"error: error validating "fpga_plugin_service_account.yaml": error validating data: ValidationError(ServiceAccount.metadata.namespace): invalid type for io.k8s.apimachinery.pkg.apis.meta.v1.ObjectMeta.namespace: got "map", expected "string"; if you choose to ignor

[2020-04-27 09:02] bart0sh commented on #371
@xxinran thank you for reporting it. Yes, you need to replace {namespace} with the namespace name like it's done here: https://github.com/intel/intel-device-plugins-for-kubernetes/blob/master/scripts/deploy-fpgaplugin.sh#L71 you can also just run the script scripts/deploy-fpgaplugin.sh to deploy the plugins

Alternatively you can use latest release tag v0.17.0. master branch contains unreleased co

[2020-04-27 09:23] xxinran commented on #371
Thank you for your quick reply.
I saw that in [https://github.com/intel/intel-device-plugins-for-kubernetes/blob/master/scripts/deploy-fpgaplugin.sh] the namespace is set to "default" by default. But it was set to kube-system before this change.
What is the reason of this change?

[2020-04-27 09:41] bart0sh commented on #371
It's more secure to deploy plugin in default namespace. However, if you prefer you can use tube-system or any other namespace of your choice.

[2020-04-27 10:02] xxinran commented on #371
Thanks for your explaination!

[2020-04-27 10:02] #371 closed

[2020-04-27 10:58] xxinran opened #372 "FPGA SRIO-V is not supportted by the FPGA device plugin"
I am trying FPGA device plugin in my local env with SRIOV-enabled A10 FPGA. It has 1 VF and 1 PF.
The FPGA device plugin is always in **CrashLoopBackOff** status.
The output of  **k logs intel-fpga-plugin-kgnz7 --namespace kube-system** is the following:

FPGA device plugin (OPAE) started in af mode
Device scan failed: intel-fpga-dev.1: **AFU without corresponding FME found**
main.(*devicePlugin).

[2020-04-27 12:20] bart0sh commented on #372
Which model of the Arria10 card do you use? Which kernel driver(DFL or OPAE) do you use? Please, show the output of ```ls -la /sys/class/fpga``` command here.

[2020-04-27 14:51] xxinran commented on #372
Here are my outputs:
`$ lspci | grep 9c`
`04:00.0 Processing accelerators: Intel Corporation Device 09c4`
`04:00.1 Processing accelerators: Intel Corporation Device 09c5`
`$ ls -al /sys/class/fpga`
`total 0`
`drwxr-xr-x  2 root root 0 Apr 27 14:20 .`
`drwxr-xr-x 79 root root 0 Apr 23 22:13 ..`
`lrwxrwxrwx  1 root root 0 Apr 24 03:44 intel-fpga-dev.0 -> ../../devices/pci0000:00/0000:00:03.0/0000:04

[2020-04-27 15:13] bart0sh commented on #372
@xxinran looks good so far. Next two things I'd like to see are the output of these 2 commands:
```ls -la /sys/class/fpga/intel-fpga-dev.0/``` and ```lsmod |grep fpga```. I suspect that intel-fpga-fme module is not loaded according to plugin error, but let's see what it is in reality.

[2020-04-27 15:21] xxinran commented on #372
@bart0sh Thanks for your quick reply, here is my outputs:

`$ ls -la /sys/class/fpga/intel-fpga-dev.0/`
`total 0`
`drwxr-xr-x  4 root root    0 Apr 27 15:15 .`
`drwxr-xr-x  3 root root    0 Apr 24 03:43 ..`
`lrwxrwxrwx  1 root root    0 Apr 24 03:49 device -> ../../../0000:04:00.0`
`drwxr-xr-x 11 root root    0 Apr 24 03:43 intel-fpga-fme.0`
`drwxr-xr-x  2 root root    0 Apr 24 03:49 power`
`lrwxr

[2020-04-27 15:31] bart0sh commented on #372
@xxinran thanks for the info. It looks incorrect from plugin point of view. It should be intel-fpga-fme.1 directory under /sys/class/fpga/intel-fpga-dev.1/. Plugin expects it to be present. Here is an example from my system:
[code]

I'd suggest to investigate why does it happen by looking at the ```dmesg``` output or asking OPAE devs. You can also try to re-insert cards one by one to see if they b

[2020-04-28 03:29] xxinran commented on #372
@bart0sh  It seems that you can 2 physical FPGA card, not one vf and one pf.  Did you enable SRIOV and virtualize the FPGA into VFs. If I disabled SRIOV, it will be only one fme and one port in intel-fpga-dev-0, and there is no intel-fpga-dev-1 repo, and the FPGA device plugin will report correctly.
But if I enable SRIOV,  the /sys/class/fpga will have 2 intel-fpga-dev-*, as I copyed above, in thi

[2020-04-28 09:41] kad commented on #372
@xxinran can you please show output of `/opt/intel/fpga-sw/fpgatool list` and `/opt/intel/fpga-sw/fpgatool -d intel-fpga-port.1 fpgainfo` on your system?

[2020-04-28 10:31] bart0sh commented on #372
@xxinran The plugin doesn't support SRIO-V setup at the moment. However, this is just because we didn't test this configuration. We'll work on this issue and report here when it's fixed.

[2020-04-29 11:41] xxinran commented on #372
@bart0sh  Ah, got it. Thanks for your explaination :)

[2020-04-29 12:36] xxinran opened #373 "Admission webhook can not map to correct AFU ID"
Hi guys, I am trying Intel FPGA Device PlugIn with A10 FPGA.
The FPGA resource has report correctly, I checked it by `kubectl describe nodes 127.0.0.1 | grep -A4 Alloc`, the output is :

[code]
I have succeed run a pod with this yaml file:
[code]
But if I changed the resources section to:
[code]
The pod will be pending with an schedule error.
The related logs are the following:

Run `kubectl logs

[2020-04-29 14:13] rojkov commented on #373
I see you are testing with a local setup. In this case the CA certificate is wrong usually as mentioned in fpga_admissionwebhook's README. You can try deploy the webhook with
[code]
The actual path to the correct CA bundle may vary in your setup.

Honestly I don't remember what DCP stands for, but it is a release of the Intel Acceleration Stack for an Arria10 device which includes firmware (or so

[2020-04-29 14:28] rojkov commented on #373
Also you might want to follow #358 as it changes the format of the name mappings and the way how the webhook is configured.

[2020-05-05 07:24] #301 closed

[2020-05-05 08:14] rojkov commented on #318
Finally this issue is unblocked. Beware of the new version of the fpga.intel.com API group. It's v2 now.

[2020-05-05 10:16] kad commented on #372
@xxinran can you still reply with output of fpgatool in your system, so we can validate that at least part of functionality working in such setups?

[2020-05-06 02:48] xxinran commented on #372
Sure.
[code]

[code]

[code]

[code]

[2020-05-06 11:28] kad commented on #372
Thanks @xxinran, so it is only discovery phase of the plugin will require fix.

[2020-05-19 11:28] rojkov opened #377 "rewrite FPGA webhook to use kubebuilder"
Currently the webhook relies on K8s's codegen for code generation which is rather low level and requires deeper knowledge of K8s internals. The same functionality could be implemented with less code if based on `controller-runtime` and used `controller-gen` for code generation.
See https://book.kubebuilder.io/multiversion-tutorial/webhooks.html for examples.

[2020-05-20 09:06] #326 closed

[2020-05-20 14:43] mythi opened #379 "Intel SGX Device Plugin"
Write Intel SGX Device Plugin and the necessary deployment/configs (including node-feature-discovery settings):

- [x] Deliver deployment artifacts to register SGX EPC memory as Kubernetes Extended Resources and document usage via NFD
- [x] Deliver NFD configuration and documentation to deploy NFD to get SGX enabled nodes labeled.
- [x] Deliver a Dockerfile and Job deployment to demonstrate Enclav

[2020-05-20 14:50] mythi opened #380 "SGX Operator Deployment and Webhook"
- [ ] SGX Kubernetes Controller w/ a Webhook to manage the device plugin lifecycle and validate/mutate incoming pod requests

[2020-05-27 16:47] AndreV84 commented on #196
hi guys,
is there any way to run 435i from within docker container without using the privileged mode?

[2020-05-29 12:17] przemeklal opened #381 "qat: permission denied error when trying to unbind device, results in crash"
Hi,

This error happens on Ubuntu 18.04 only so far. There are no errors when trying to unbind/bind manually as root user on the host level. With `privileged: true` added to the securityContext in the pod spec the permission error is gone and unbinding works fine.

OS: Ubuntu 18.04.4 LTS
QAT device model: 8086:37c8
Kernel : 4.15.0-101-generic

Logs:
[code]

-	Does master branch work?
Happens both

[2020-05-29 12:43] mythi commented on #381
We've not tested with dockershim but cri-o/containerd directly. Can you try that?

Perhaps you should try to disable it:

[code]

[2020-05-29 12:56] przemeklal commented on #381
Sadly, not really an option in this case.

But I gave this apparmor annotation a try and it does the trick, not sure if this is going to raise more or less questions than using privileged mode :wink: I'll stick to that for the moment. Thanks a million!

[2020-05-30 13:07] mythi commented on #381
AFAIU, this config makes it on par with your other setups that have no Apparmor policies in place.

[2020-06-01 07:43] mythi opened #383 "opae-sdk-1.4.1"
A new release is available:

[code]

[2020-06-01 09:54] #381 closed

[2020-06-01 10:16] mythi commented on #381
@przemeklal I added a kustomize deployment so that you don't have to patch your YAML.

[2020-06-03 11:16] msivosuo opened #384 "Add FPGA Support to One Device Operator"
-Add FPGA support  to One Device Operator + documentation

[2020-06-03 11:17] msivosuo opened #385 "Publish One Device Operator in Operator Hub"
Publish One Device Operator in Operator Hub

[2020-06-03 11:57] askervin opened #386 "FPGA kustomize: configurable namespaces"
- [ ] Make sure kustomization works for arbitrary namespaces (kubectl -n mynamespace -k ...)
- [ ] Update plugin and webhook e2e tests

[2020-06-03 11:59] askervin commented on #318
Task split: move configurable namespace to a new task: https://github.com/intel/intel-device-plugins-for-kubernetes/issues/386.
This task updates FPGA kustomize functionality on par with the first version and makes it production version (drop beta).

[2020-06-03 13:48] msivosuo commented on #324
https://github.com/intel/intel-device-plugins-for-kubernetes/pull/376

[2020-06-08 12:03] rojkov opened #388 "[linter] Enable nakedret check"
in ${PROJECT_ROOT}/.golangci.yml

[2020-06-08 12:05] rojkov opened #389 "[linter] Enable gosec check"
in ${PROJECT_ROOT}/.golangci.yml to make the code more secure.

[2020-06-08 12:06] rojkov opened #390 "[linter] Enable errcheck"
in ${PROJECT_ROOT}/.golangci.yml.

[2020-06-08 12:07] rojkov opened #391 "[linter] Enable staticcheck"
in ${PROJECT_ROOT}/.golangci.yml.

[2020-06-08 12:08] rojkov opened #392 "[linter] Enable wsl check"
in ${PROJECT_ROOT}/.golangci.yml to improve readability.

[2020-06-08 12:12] msivosuo opened #393 "DSA K8s Support Study"
-Study DSA K8s Device Support.
-Define deliverables and plan how to deliver

https://01.org/blogs/2019/introducing-intel-data-streaming-accelerator

[2020-06-09 08:34] rojkov opened #394 "Consider using go embed to keep object definitions in YAMLs rather than in Go code"
Currently in the operator we construct DaemonSet objects directly as a Go structure:
[code]
This way we end up with very long though simple functions and this prevents us from enabling some linter checks like `funlen`.

Evaluate moving object definitions to YAML files and generating Go files with go-bindata the way it's done in OpenShift operators: https://github.com/openshift/cluster-ingress-oper

[2020-06-10 08:42] ipuustin commented on #379
PR for SGX device plugin and NFD source plugin: https://github.com/intel/intel-device-plugins-for-kubernetes/pull/395

[2020-06-16 09:18] msivosuo commented on #256
Closing, not valid anymore.

[2020-06-16 09:18] #256 closed

[2020-06-16 11:02] msivosuo opened #399 "Move to sphinx-based documentation"
- [x]  Coordinate with tech writers on how to move to sphinx-based documentation
- [ ]  Coordinate tech writer documentation review
- [ ]  Deploy new documentation format

[2020-06-16 11:06] msivosuo commented on #393
@rojkov - good first step would be to be in touch with driver developers on how to get started.

[2020-06-16 11:09] mythi commented on #356
Next steps:

- [ ] in all of the READMEs, highlight the container image availability and the possibility to deploy using `kubectl apply` without cloning the repo
- [ ] change git cloning (`go get` does not work) to be path agnostic (`GOPATH` no longer relevant)

[2020-06-16 12:12] pohly commented on #356
Also make sure that those deployment files always pull an image that is compatible with the deployment.

In PMEM-CSI, we ensure that for releases, but not for the development branch, and already had issue reports twice because users were using deployment files from an old revision of our master branch with the latest, incompatible "canary" images.

[2020-06-16 13:16] #389 closed

[2020-06-16 15:16] mythi opened #400 "harmonize imagePullPolicy usage"
it looks our `imagePullPolicy` usage isn't consistent between the plugins. Define a setting/kustomize overlay that suits all the plugins.

[2020-06-17 08:22] tkhred commented on #356
Hi, based on the following PR, the plugin has already supported k8s 1.18.

https://github.com/intel/intel-device-plugins-for-kubernetes/pull/365

I think it is a critical problem.  (Actually, we need several days to know that the plugin supports 1.18 or not.)

Could you consider to update the top page README first?

[2020-06-17 08:36] mythi commented on #356
I just opened a PR to work on updates in the top page README. What is the concern? In principle, the release branches should be used for work that requires stability.

[2020-06-17 08:44] msivosuo opened #402 "Compute Express Link (CXL) Device Support"
-Study CXL Device Support (focus dGPU and FPGA).
-Define deliverables and plan how to deliver.
-Target delivery Q42020

https://www.computeexpresslink.org/

[2020-06-17 09:01] tkhred commented on #356
Thanks for your quick response.
Sorry for my ambiguous request. I just would like README to say it supports 1.18. (now it supports 1.11, 1.15, and 1.17)

[2020-06-17 09:19] msivosuo commented on #393
@bart0sh - do you think you could you take a look at this in July/August? We needed to move @rojkov to another study.

[2020-06-17 09:20] msivosuo commented on #402
@rojkov - small change to the plans, could you study this instead of #393

[2020-06-17 09:38] rojkov commented on #402
Sure, I'm equally ignorant in both specs. Though I had an idea that DSA
could be useful in Envoy's scope.

On Wed, Jun 17, 2020 at 12:20 PM msivosuo <notifications@github.com> wrote:

[2020-06-17 09:44] bart0sh commented on #393
@mythi sure, I'll try.

[2020-06-17 11:08] tkhred commented on #356
Sorry that I asked without checking your project plan. Our team will test the master branch with k8s 1.18 and I believe we can wait for the official v0.18 release.

[2020-06-17 12:20] mythi commented on #356
@tkhred no problem at all. we're planning to make a v0.18 shortly (#251) you'r reminder is a valid task for #251!

[2020-06-18 08:59] mythi commented on #251
Checklist:

- [ ] run validation on master
- [ ] create release-0.18 branch
- [ ] `make set-version TAG=0.18.0` + commit
- [ ] `make lock-images` + commit
- [ ] draft release notes, review
- [ ] update master README for supported versions
- [ ] final validation
- [ ] publish release

[2020-06-23 13:00] rojkov opened #406 "Add E2E test case for FPGA webhook to test mappings are scoped"
Particularly the case must prove the mappings are scoped to the namespaces they were created in and they are applicable to pods created in the corresponding namespaces.

[2020-06-24 17:52] #388 closed

[2020-07-01 09:33] #318 closed

[2020-07-01 09:39] #324 closed

[2020-07-01 09:41] #386 closed

[2020-07-01 09:44] mythi commented on #373
@xxinran can you try with the latest master (and follow the new/improved instructions)?

[2020-07-01 09:47] mythi commented on #73
@bart0sh @rojkov with kustomize in place and the fact that drivers issues are covered, perhaps we can close this?

[2020-07-01 09:57] bart0sh commented on #73
makes sense. closing

[2020-07-01 09:57] #73 closed

[2020-07-01 11:17] msivosuo commented on #402
Requires a CXL device to progress -> backlog.

[2020-07-01 12:38] mythi opened #415 "crypto-perf image fails on kernels with CVE-2020-12888"
See:
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=abafbc551fddede3e0a08dee1dcde08fc0eb8476
https://lore.kernel.org/kvm/159310421505.27590.16617666489295503039.stgit@gimli.home/

[2020-07-02 16:05] bart0sh opened #419 "FPGA Plugin e2e test fails"
It fails with below output. ```kubectl apply -f https://raw.githubusercontent.com/intel/intel-device-plugins-for-kubernetes/master/deployments/fpga_admissionwebhook/mappings-collection.yaml``` doesn't help.

[code]

[2020-07-02 17:21] rojkov commented on #419
[code]

I see there two webhooks running. Obviously the line
https://github.com/intel/intel-device-plugins-for-kubernetes/blob/0171c39da95f012e9ab4f9b3753cc7ecf4e0ee67/test/e2e/fpga/fpga.go#L67
Is not needed now in the test. And the mappings need to be added after the plguin is deployed
https://github.com/intel/intel-device-plugins-for-kubernetes/blob/0171c39da95f012e9ab4f9b3753cc7ecf4e0ee67/test/

[2020-07-02 20:15] bart0sh commented on #419
@rojkov thanks. I've submitted the fix. Please, review.

[2020-07-03 06:30] #419 closed

[2020-07-03 11:25] #251 closed

[2020-08-18 10:31] #377 closed

[2020-08-18 10:31] #406 closed

[2020-08-19 05:26] mythi opened #426 "SGX EPC accounting and enforcement (improvement)"
- [ ] SGX Kubernetes Device Plugin: Per container EPC accounting and enforcement

[2020-08-19 05:27] mythi opened #427 "SGX Remote Attestation Deployment"
- [ ] Deliver deployment artifacts to run AESMD  as a node local Service supporting baremetal remote attestation
- [ ] Document cluster settings to provide an access to a PCCS key cache server

[2020-08-19 05:29] mythi opened #428 "Patcher interface"
For the SGX webhook, we're planning to implement a mutating webhook. The FPGA patchermanager should be generalized to support multiple patchers

[2020-08-19 09:20] #384 closed

[2020-08-25 18:45] #379 closed

[2020-08-26 15:08] #391 closed

[2020-08-28 18:59] #390 closed

[2020-08-31 11:22] mythi commented on #428
not needed

[2020-08-31 11:22] #428 closed

[2020-09-02 17:34] msivosuo opened #442 "DSA Device Plugin"
-Implement DSA Device Plugin
-Both DPDK and Kernel mode required
-Consider synergies with similar accelerators in the design

[2020-09-02 17:35] msivosuo opened #443 "DSA Operator"
Add DSA support to one device operator

[2020-09-02 17:36] msivosuo opened #444 "Publish 0.20 version of Device Plugin Operator on Operator Hub"
Publish new version (0.20) of Device Plugin operator on Operator Hub, including DSA support.

https://github.com/intel/intel-device-plugins-for-kubernetes/blob/main/DEVEL.md#how-to-publish-a-new-version-of-the-intel-device-plugins-operator

[2020-09-08 13:21] msivosuo opened #447 "Documentation does not mention operator support for FPGA"
Current documentation is not describing FPGa operator support e.g. here:

Currently the operator has limited support for the QAT and GPU device plugins: it validates container image references and extends reported statuses.

We should check documentation is updated in all the relevant places.

[2020-09-08 16:01] uniemimu opened #448 "gpu-plugin reads files too often"
This sort of file-reading was noticed in a 10 second period:

   1200 /sys/devices/pci0000:00/0000:00:01.0/0000:01:00.0/0000:02:01.0/0000:03:00.0/numa_node
   1200 /sys/devices/pci0000:00/0000:00:01.0/0000:01:00.0/0000:02:01.0/0000:03:00.0/local_cpulist
   1200 /sys/devices/pci0000:00/0000:00:01.0/0000:01:00.0/0000:02:01.0/0000:03:00.0/drm/numa_node
   1200 /sys/devices/pci0000:00/0000:00:01.0/000

[2020-09-09 07:00] #448 closed

[2020-09-09 09:29] mythi opened #450 "optimize QAT topology info retrieval"
...by caching the topology info for each PF device ID.

[2020-09-09 09:54] mythi opened #451 "QAT Gen4 devices"
The QAT plugin needs to add support for Gen devices

https://github.com/intel/qatlib

[2020-09-10 10:46] msivosuo commented on #399
See #446

[2020-09-11 04:25] mythi opened #452 "update to k8s 1.19 APIs"

[2020-09-14 08:56] mythi opened #453 "update base image versions for release-0.18"

[2020-09-14 09:16] #380 closed

[2020-09-15 06:19] mythi opened #456 "SGX documentation"
SGX kubernetes deployment and demos are missing. This ticket is about adding step-by-step instructions how to deploy the SGX components

[2020-09-15 06:21] mythi opened #457 "SGX Extended resources"
Currently, we install an sgx epc source hook that is run by NFD to register the node extended resources.

Consider making this feature "stand-alone" without the NFD dependency.

[2020-09-15 07:08] #320 closed

[2020-09-15 09:41] rojkov commented on #385
I have to pause this task due to https://github.com/operator-framework/operator-lifecycle-manager/issues/1315#issuecomment-692597350

[2020-09-15 10:29] mythi opened #458 "SGX e2e validation"
implement basic `test/e2e/sgx` validation:

- [ ] deploy a sample application requesting SGX resources
- [ ] deploy NFD and validate labels
- [ ] deploy SGX operator and check device plugin resources
- [ ] ...

[2020-09-15 11:45] msivosuo commented on #399
Implemented by #454

[2020-09-16 08:21] bart0sh commented on #373
Closing as name mappings format was changed in the latest release.

[2020-09-16 08:21] #373 closed

[2020-09-16 09:43] msivosuo commented on #255
Not valid anymore -> closing.

[2020-09-16 09:43] #255 closed

[2020-09-16 09:59] #356 closed

[2020-09-16 09:59] #447 closed

[2020-09-16 10:57] bart0sh opened #461 "FPGA: webhook deployment fails with "TLS certificate file is not set" error"
Steps to reproduce:

[code]

[2020-09-16 11:06] #383 closed

[2020-09-16 11:29] msivosuo opened #462 "Release Preparations"
Checklist:

- [x]  run validation on master
- [x]  create release-0.19 branch
- [x] make set-version TAG=0.19.0 + commit
- [x] make lock-images + commit
- [x] draft release notes, review
- [x] update master README for supported versions
- [x]  final validation
- [x] publish release

[2020-09-16 13:49] bart0sh commented on #461
@mythi I couldn't reproduce this with the latest release:
[code]

[2020-09-16 14:01] rojkov commented on #461
I couldn't reproduce it with the current master and cert-manager v1.0.0

[2020-09-17 05:25] mythi commented on #461
`make test-with-kind` worked for me too

[2020-09-21 14:34] #458 closed

[2020-09-21 17:10] mythi commented on #461
@bart0sh are the e2e tests passing for you?

[2020-09-21 17:10] msivosuo commented on #461
@bart0sh - would you check one more time and close if not reproducible?

[2020-09-22 10:26] bart0sh commented on #461
It is reproducible. Sometimes it works, but most of the time I can see the same error.

[2020-09-22 10:27] bart0sh commented on #461
@mythi I didn't try to run e2e tests because webhook container doesn't run. I'm not sure it even worth trying in these conditions.

[2020-09-22 10:42] bart0sh commented on #461
Just tried one more time. This time the webhook container was OOMKilled, but the log is the same.
Here is a full console log:
[code]

[2020-09-22 10:48] bart0sh commented on #461
I've never  been able to reproduce it with v0.18.0:
[code]

[2020-09-22 10:48] bart0sh commented on #461
@mythi @rojkov I think it worth investigating, especially after getting OOMKilled status. You have access to the host I guess.

[2020-09-22 10:49] bart0sh commented on #461
I can bisect it if needed.

[2020-09-22 11:22] rojkov commented on #461
This message means that the image with the binary used in the deployment doesn't correspond the new pod spec where the TLS cert is not specified. Could you try to refresh the image?

[2020-09-22 12:24] bart0sh commented on #461
@rojkov Thank you. Removing all our images and reinstalling webhook helped.

[2020-09-22 12:24] #461 closed

[2020-09-22 13:30] mythi commented on #461
@bart0sh @rojkov #400 :-)

Good that it works!

[2020-09-23 06:40] mythi commented on #400
Based on our experience, `imagePullPolicy: Always` for the master branch is the least error prone.

The opens are:
- is this OK for the release branches too?
- should we document how to add a kustomize overlay to change it if `Always` is not desired?

[2020-09-23 09:43] bart0sh commented on #400
I think it's ok to have 'Always' policy for all branches.

[2020-09-23 10:48] #393 closed

[2020-09-28 13:15] msivosuo commented on #453
https://github.com/intel/intel-device-plugins-for-kubernetes/pull/466

[2020-09-29 07:14] #399 closed

[2020-09-29 14:43] mythi commented on #399
https://intel.github.io/intel-device-plugins-for-kubernetes/README.html

[2020-09-30 10:14] msivosuo commented on #453
Done -> closing.

[2020-09-30 10:14] #453 closed

[2020-10-12 05:43] mythi opened #474 "GpuDevicePlugin CRD: deploy NFD hook"
Add a config entry to `GpuDevicePlugin` CRD to allow users to specify whether they want the GPU NFD _hook_ automatically deployed by the operator.

[2020-10-12 07:06] mythi commented on #474
see SGX for reference

[2020-10-14 10:16] kad commented on #392
Suggestion: maybe check the `gocognit` that seems to be doing same as wsl + more.

[2020-10-14 10:31] rojkov commented on #392
@kad it's enabled already (see https://github.com/intel/intel-device-plugins-for-kubernetes/blob/master/.golangci.yml#L15)
I even had to relax it a bit to make it pass. The problem was
[code]

[2020-10-14 15:00] #364 closed

[2020-10-15 11:08] rojkov commented on #452
K8s 1.19 has updated dependency on `github.com/go-logr/logr` to v0.2.0, but the latest released `sigs.k8s.io/controller-runtime` (0.6.3) still depends on logr v0.1.0.

controller-runtime 0.7.0, which seems to have the dependency updated, hasn't been released yet.

This prevents us from updating to k8s 1.19.

[2020-10-16 09:26] mythi opened #476 "frequent operator crashes"
@uniemimu reported frequent crashes with the operator.

error snippet:
[code]

[2020-10-16 09:38] rojkov commented on #476
Why this request to the API server takes so long?
[code]
Is it under heavy load?

We could probably increase the context timeout for the leaderelection part, but the root cause seems to be not in the operator.

[2020-10-16 09:46] uniemimu commented on #476
Some of the tests being run in the cluster involve deploying an unconventionally large amount of PODs into the same machine, which in this particular case happened to also be the one running the operator. There is heavy load related to scheduling and gpu-plugin resource allocating and releasing.

"Large amount" here means hundreds of PODs. The node POD count limit has been increased from the stand

[2020-10-16 12:20] pohly commented on #476
Recent client-go voluntarily limits the rate at which it sends requests: https://github.com/kubernetes/client-go/blob/5521967004d84d9e6f89df86dfeb5977f993bcbd/rest/request.go#L847-L852

If the operator is doing lots of requests during reconciliation, then this will potentially delay the requests that leadership election needs to do periodically.

The solution is to use two clients, one for leader

[2020-10-16 13:00] rojkov commented on #476
Thank you! We need to do the same.

[2020-10-16 15:38] mythi commented on #452
Let's wait 0.7.0. It looks it's not too far away...

[2020-10-19 05:59] mythi commented on #476
This made me wonder still. Our reconciler is not that complex and should not be doing lots of requests. Is something sub-optimal?

[2020-10-20 06:50] mythi opened #479 "amend operator samples with full CRDs and add kustomization"
End user feedback:
The current samples only contain the image in the spec – it might be useful to have a sample with other fields (eg dpdk driver, kernel driver, num of VFs etc) already filled out so that the user knows what can be configured by looking at the sample

[2020-10-26 11:21] #427 closed

[2020-10-27 13:57] #456 closed

[2020-10-27 19:38] mythi commented on #479
added need: make it possible to deploy sample CRs using kustomize

[2020-10-28 06:45] mythi opened #486 "add config and test case for SGX EPC Resource Quota"

[2020-10-28 06:47] mythi opened #487 "adapt to SGX v40 changes"
based on the lkml conversation, it seems `/dev/sgx/`  is going to go away. we need to adapt to changes that are made in v40

[2020-10-28 15:36] mythi opened #489 "deprecation warnings when deploying the operator"
kubernetes 1.19 gives the following warnings. When the right time comes, let's move away from v1beta1.

[code]

TODO:

- [x] move the FPGA CRDs to v1 API
- [ ] move to v1 RBAC API
- [ ] test by deploying a device CR with the operator
- [ ] test using `make test-with-kind`

[2020-10-30 06:16] mythi commented on #487
The change can be mitigated with the following udev rules installed in `/etc/udev/rules.d`:

[code]

[2020-10-30 08:05] #372 closed

[2020-10-30 14:59] mythi commented on #489
https://kubernetes.io/blog/2020/09/03/warnings/

[2020-11-02 07:05] mythi commented on #452
@rojkov can you start with a draft PR that updates k8s 1.19 and controller-runtime 0.7.0-alpha4. Or would `Replace` v0.1.0 -> v0.2.0 work?

[2020-11-02 09:07] rojkov commented on #452
Ok. I'll start with moving to controller-runtime 0.7.0-alpha4. It seems to be a safer bet.

[2020-11-02 16:48] rojkov commented on #452
Now all deps seem to resolve ok. I pushed the new `go.mod` to my private `release-0.19` branch. The next step is to make the code compile.

[2020-11-10 11:31] #474 closed

[2020-11-10 14:19] #452 closed

[2020-11-11 08:47] mythi opened #499 "updates to clean-up non-inclusive language"
Meta-issue to track inclusive language updates

- [x] docs /cc @intelkevinputnam (can you help?)
- [ ] Dockerfiles (@mythi)
- [x]  run-dpdk-test (@mythi)
- [x] FGPA cri_hook test data, topology (@bart0sh)
- [x] master -> main (all) (agreed to target the change during christmas time)

[2020-11-12 10:05] bart0sh commented on #400
That would be great to have it documented. It would be even better to have ready to use kustomize overlays to switch to IfNotPresent policy.

[2020-11-13 08:26] #400 closed

[2020-11-13 11:48] mythi opened #505 "update to klog v2"
when we move to k8s 1.20, update `k8s.io/klog v1.0` to `k8s.io/klog/v2 v2.4.0`.

Also, see if we can

- [ ]  drop logr direct dependency
- [ ] change operator logger from zap to klog

[2020-11-19 09:08] #487 closed

[2020-11-23 11:22] mythi commented on #415
this is fixed in DPDK 19.11.4 and we have .5, so closing.

[2020-11-23 11:22] #415 closed

[2020-11-25 07:05] #462 closed

[2020-11-25 09:25] mythi opened #514 "documentation fixes"
- [ ] release-0.19 specific docs generation
- [ ] top-level README: links to demo screencasts give 404
- [ ] top-level README: better anchor links for fpga/sgx device plugins (now it's 'device plugin' and 'SGX plugin', respectively)

[2020-11-25 12:43] rojkov commented on #385
The progress can be tracked at https://github.com/operator-framework/community-operators/pull/2750 now.

[2020-11-26 08:12] mythi opened #516 "move to static and stripped binaries, use distroless"
do you see problems with these `-ldflags`:

[code]

also, when building without `CGO_ENABLED` we can build the plugins static and move to use distroless:static

[2020-11-26 10:23] uniemimu commented on #516
Only if those have an impact on the issue reporting by reducing trace information. Considering security those sound good.

[2020-12-07 14:21] mythi opened #517 "document vfio-pci setup for QAT 1.x devices"
QAT 1.x are 'denylisted' in `vfio-pci` (a change to `vfio-pci`  was added in Linux 5.9).

[code]

Document how to deal with this.

[2020-12-07 15:04] rojkov commented on #479
What kind of kustomization is needed? Is it for the operator or plugins?

[2020-12-09 11:29] msivosuo commented on #457
Not relevant, different direction taken. Closing

[2020-12-09 11:41] mythi opened #520 "document "new device-plugin checklist" in DEVEL.md"
- unit tests, 80% coverage
- e2e tests
- operator CRD
- ...

[2020-12-09 15:51] uniemimu opened #523 "gpu: controlled sharing of gpus in multi-gpu nodes"
Kubernetes doesn't handle well sharing of GPUs in multi-gpu nodes. Only the single-pod-per-gpu allocations work reliably with such nodes, effectively meaning that GPU sharing is not possible. For example external resource calculations don't work properly in nodes that have more than one GPU; k8s has no understanding of individual GPU resource state then. This needs a solution of some sort, so that

[2020-12-09 16:28] mythi opened #524 "add vfio based devices to DSA"
support binding DSA devices to vfio: https://doc.dpdk.org/guides/rawdevs/ioat.html

[2020-12-09 16:29] mythi opened #525 "DPDK test application for DSA"
build a demo container and deployment that shows DSA resource requests and that HW works.
https://doc.dpdk.org/guides/dmadevs/idxd.html

[2020-12-09 16:35] mythi opened #526 "Add/study CRDs for accel-config style device settings"
To allow cluster admins to configure device pools via CRDs/controller.

[2020-12-10 09:10] msivosuo commented on #442
#494 merged, closing.

[2020-12-10 09:10] #442 closed

[2020-12-15 12:59] msivosuo commented on #385
@rojkov - could we ping operator-framework people on this to get some traction?

[2020-12-15 14:02] rojkov commented on #385
I've managed to find to [this instruction](https://operator-framework.github.io/community-operators/#test-your-operator-before-submitting-a-pr) on how to reproduce the CI tests locally. But I'm busy with a QAT engine issue ATM. Will try it later.

[2020-12-15 17:04] intelkevinputnam commented on #514
Item 2 (links to demo screencasts give 404) is occurring because the links to the demo readme are linking to the directory and not the document.

Current reference:
[code]
Should be:
[code]

[2020-12-15 17:09] intelkevinputnam commented on #514
Item 3 (better anchor links for fpga/sgx device plugins). I'm afraid I'm not sure what this is referring to.

[2020-12-15 17:23] pohly commented on #385
@avalluri has added CI testing of the PMEM-CSI operator. He can provide further pointers and help in case that you need it.

[2020-12-15 19:09] mythi commented on #514
@intelkevinputnam item 3 refers to the sentences: "The [SGX|FPGA] plugin comes in three parts." and then anchor links to their respective subsections. I wanted to have these consistent between FPGA/SGX.

[2020-12-18 15:37] #451 closed

[2020-12-21 18:53] #479 closed

[2021-01-05 15:27] rojkov commented on #385
Closing as https://github.com/operator-framework/community-operators/pull/2750 got merged.

[2021-01-05 15:27] #385 closed

[2021-01-08 20:11] mythi opened #539 "make it possible to select supported devices in the operator"
There are cases where only the selected devices/their CRDs are wanted/needed in the operator. The operator deployment shall support this by making it possible to:

- [ ] comment out/kustomize the unwanted RBAC / CRD settings
- [ ] passing to operator cmdline which controllers/webhooks are set up

[2021-01-12 10:25] #517 closed

[2021-01-12 11:33] mythi opened #543 "make it possible to deploy operator without cert-manager CRDs"
Allow users to manually manage webhook certs and to deploy operator without `Certificate` CRs,

[2021-01-14 18:04] intelkevinputnam commented on #514
@mythi If I understand correctly, you want to change the naming convention? Create explicit anchors using HTML (preferably in the line above the header like this:

[code]

[2021-01-14 18:18] intelkevinputnam commented on #499
I've been trying out https://github.com/get-woke/woke to check for inclusive language problems. Found no issues with the docs.

[2021-01-14 19:04] mythi commented on #499
@intelkevinputnam we wanted ask help updating the docs when we rename 'master' to 'main'

[2021-01-14 19:05] mythi commented on #514
@intelkevinputnam ok, thanks!

[2021-01-15 05:44] mythi commented on #514
@intelkevinputnam what's the right way to convert links that point to repo directories without an .md file

[2021-01-19 08:41] xxinran opened #547 "Imcompatibility of admissionReviewVersions"
I have tried to deploy the FPGA plugin with the latest code, but an error occurs:

The MutatingWebhookConfiguration "intelfpgaplugin-mutating-webhook-configuration" is invalid: webhooks[0].admissionReviewVersions: Invalid value: []string{"v1beta"}: must include at least one of v1beta1

I have changed to v1beta1, and it works.  Is it a bug or I misconfigured something?

[2021-01-19 08:45] mythi commented on #547
It's a bug. Thanks for reporting! It is recommended to deploy released versions using the `?ref=release-0.19` suffix in your deployment URL.

[2021-01-19 08:50] mythi commented on #547
@xxinran what is your kubernetes version and do you have the latest `:devel` image on the node?

[2021-01-19 08:54] xxinran commented on #547
yes, I use intel/intel-fpga-admissionwebhook:devel  image, and my Kubernetes version is 1.16.

[2021-01-19 09:04] mythi commented on #547
is it possible that you have an old image cached on the node? the latest image is `Digest:sha256:ad367e9c1de79d5a7a14e096509ca7b2dcab2a4b9988fe3c5bf20441a6731c7f`

[2021-01-19 09:12] xxinran commented on #547
I don't think I have other old images cached, please see the details of my images.
[code]

[2021-01-19 09:15] xxinran opened #548 "change fpga plugin from af mode to region mode"
First of all, I am not sure if this is an issue.  I'd like to state the case and have some discussion here.

I have deployed fpga plugin on af mode first,  and I can see there is fpga.intel.com/af-xxx in node's capacity.
And then I deleted the deamonset of af mode and re-deployed this DPI on region mode.  Here is my output:

[code]

I am not sure if it is correct, or should we delete af-xxx `Capac

[2021-01-19 09:44] bart0sh commented on #548
@xxinran Thank you for reporting this. I don't think it's incorrect because amount of reported resources is 0, which reflects a reality. As far as I remember resources are checkpointed on the kubelet side. There is quite complex logic around old resources to ensure device persistence after node reboots. Anyway, my point is that as soon as old resources have 0 capacity and 0 allocatable number it's

[2021-01-19 10:03] mythi commented on #547
OK, thanks. Now that I think of it, it's probably not image related.

[2021-01-19 13:40] mythi commented on #547
based on the k8s release notes admissionreview v1 was added in v1.16. I'm not able to reproduce this problem with v1.19 so it sounds this could be related to the version you are using. Are you able to use some newer release? If not, our release branches should be used.

[2021-01-19 13:45] mythi commented on #547
[code]

or

[code]

[2021-01-19 14:04] xxinran commented on #547
Thanks for your help, I think it is I tried with the master branch of the intel device plugin, I will switch to the stable branch to retry it.

[2021-01-19 14:25] mythi commented on #547
I'd more curious to know if you can get it working with the master branch but update the k8s version.

[2021-01-20 08:18] #514 closed

[2021-01-20 08:30] mythi commented on #514
I verified the generated docs and everything seems to be as expected!

[2021-01-21 11:07] mythi commented on #547
@xxinran any updates?

[2021-01-21 11:10] xxinran commented on #547
yes, I have try the master branch with Kubernetes 1.20. Everything works well.

[2021-01-21 11:40] mythi commented on #547
@xxinran Thanks for checking! I'm going to close this.

[2021-01-21 11:40] #547 closed

[2021-01-21 17:35] #505 closed

[2021-01-25 17:35] mythi commented on #499
@intelkevinputnam is that something you could help with?

[2021-01-26 19:01] intelkevinputnam commented on #499
@mythi Since the new year my focus has shifted to tools development. @dougtw may be able to help.

[2021-01-27 07:32] #548 closed

[2021-01-29 07:23] jiangzhg opened #551 "mount /dev/ion error with using HDDL card in K8s"
When we use HDDL function, we use this plugin and find that an error is reported in the container. "Mount "/dev/ion" fails".
**The "/dev/ion" is not necessary, we use the "/dev/shm".**

**openvino sdk version**: 2021.1.110
**intel-device-plugins-for-kubernetes: tag**: 0.17.0

`Type     Reason     Age                            From               Message`
`  ----     ------     ----

[2021-01-29 09:00] mythi commented on #551
@jiangzhg can you point to the documentation that guides to set-up the drivers you are using. `/dev/ion` was the only HDDL memory driver available when the vpu-plugin was added.

[2021-01-29 09:01] mythi commented on #551
/cc @alekdu

[2021-01-29 09:50] jiangzhg commented on #551
/dev/ion is not only HDDL memory driver, sometime we can use share memory to make hddldaemon work well.
I use the file setup. https://github.com/OpenVisualCloud/Dockerfiles/blob/master/VCAC-A/script/setup_hddl_daemonset.yaml

[2021-01-29 09:55] mythi commented on #551
is it documented in the OpenVINO release notes?

[2021-02-02 09:03] jiangzhg commented on #551
yes, please refer this note, [https://github.com/open-ness/specs/blob/master/doc/building-blocks/enhanced-platform-awareness/openness_hddl.md](url)

[2021-02-02 09:18] mythi commented on #551
@jiangzhg thanks. It seems to be an OpenNESS specific customization. @alekdu what do you think?

[2021-02-03 11:52] xxinran commented on #551
I have the same error without OPENNESS. When I install vpu plugin, it tried to mount /dev/ion on hostpath to the container, but there is no such file on the host.
Here's the output of `kubecrl describe pod intel-vpu-plugin-x28zw`
[code]

[2021-02-04 00:55] alekdu commented on #551
Hi, I think originally /dev/ion is preferred by openvino, the driver is myd_ion in openvino package. Please refer to https://github.com/OpenVisualCloud/VCAC-SW-Analytics/blob/master/VCAC-A/Intel_Media_Analytics_Node/scripts/ovc_hddl_install.sh, line 156.

Later openvino is trying to deprecate ION starting from kernel 5.2 due to ION module is failed to compile against this kernel. We helped to fix

[2021-02-04 06:29] xxinran commented on #551
Thanks for your reply @alekdu , I didn't find myd_ion.ko on my host.
Actually, I installed the kernel built by https://github.com/OpenVisualCloud/VCAC-SW-Analytics/blob/master/VCAC-A/Intel_Media_Analytics_Host/scripts/build.sh on my host where device plugin runs.  Here is my kernel info:
[code]
There is no myd_ion.ko file on the host.
Meanwhile, I installed Ubuntu1804 built by https://github.com/O

[2021-02-04 08:22] alekdu commented on #551
@xxinran I think you need deploy the device plugin to your card OS,  and your card OS need join K8S network as worker node. This is also the setup that OpenVisualCloud uses.

[2021-02-04 08:27] alekdu commented on #551
@xxinran please refer to this: https://github.com/OpenVisualCloud/Dockerfiles/tree/master/VCAC-A#setup-the-vcac-a-as-kubernetes-node

[2021-02-04 10:35] jiangzhg commented on #551
@alekdu  did we install myd_ion on CentOS 7.8? The kernel version is 3.10.0-1160

[2021-02-05 12:41] mythi opened #556 "make xDevicePlugin CRDs cluster scoped"
we cannot have namespaced CRs for the device plugins. `scope=Cluster` makes it so that there's single instance of a CR across the cluster.

[2021-02-07 03:18] xxinran commented on #551
@alekdu Thanks for your explanation.  According to the doc you sent, we can set up vca-a card as a worker node in k8s, and use hddl as the resource.
Is it possible that I deploy the server where vca-a card locates as a worker node in k8s, and run vca-a device plugin on this server directly, instead of running the device plugin in card OS.

[2021-02-08 08:04] mythi commented on #551
@alekdu @xxinran @jiangzhg can you confirm the VPU device plugin is OK and no changes needed there?

[2021-02-08 11:29] alekdu commented on #551
@mythi I think the myd_ion driver is still supported in openvino and thus we needn't change this.

[2021-02-08 11:31] alekdu commented on #551
@xxinran, I think there is a PCIe NTB bridge between VCAC-A card and Server this means they belong to two computer system. The device plugin should work closer to the OS who control the HW resource.

[2021-02-08 17:53] #457 closed

[2021-02-09 14:24] #443 closed

[2021-02-10 06:25] mythi opened #565 "optimize container image builds"
- [x]  each container build pulls all go modules and there's no re-use between them.
- [ ]  make `copy-modules-licenses.sh` to use the cache pulled for the (plugin) binary.

[2021-02-10 13:03] mythi commented on #551
@alekdu can you close this  issue then if you think this is OK?

[2021-02-10 15:55] mythi opened #566 "add envtest tests to CI"
this has no device dependencies and we could add running `make envtest` to CI (just need kube-apiserver/etcd)

[2021-02-11 11:10] #556 closed

[2021-02-15 07:31] mythi opened #578 "consider deprecating fpga_admissionwebhook"
the fpga webhook functionality is available in two places: it's part of the operator and as a stand-alone webhook image. if we want to prioritize the operator workflow, the latter is redundant.

Discuss & agree the future of fpga_admissionwebhook

[2021-02-17 11:44] mythi opened #580 "document fpga mappings deployment"
The README does not mention the mappings need to be deployed and the default kustomization does not deploy the mappings.

[2021-02-18 00:42] alekdu commented on #551
@jiangzhg sorry for missing your questions about CentOS 7.8 for myd_ion. I guess your CentOS 7.8 is for the server that plugged with VCAC-A card. Actually we are talking about the OS that run on VCAC-A card itself. The formal release should be an Ubuntu OS image...

[2021-02-18 00:44] alekdu commented on #551
@mythi I wish I could close this issue but sounds like missing a permission...

[2021-02-18 06:00] mythi commented on #551
closing on behalf of @alekdu

[2021-02-18 06:00] #551 closed

[2021-02-18 07:00] mythi commented on #394
@rojkov https://golang.org/pkg/embed/

[2021-02-18 07:18] rojkov commented on #394
Nice new feature. Looks cleaner than go-bindata

[2021-02-18 14:50] #489 closed

[2021-02-23 11:00] mythi commented on #499
done!

[2021-02-23 11:00] #499 closed

[2021-02-24 11:20] kad commented on #578
That would practically mean that it would be impossible to use FPGA plugin without using operator.
Does that make sense? I mean if we would have customers who don't want for some reason to use operator.

[2021-02-24 13:24] #520 closed

[2021-02-24 20:04] mythi commented on #394
@rojkov I gave it a try using tips from [this blog post](https://blog.carlmjohnson.net/post/2021/how-to-use-go-embed/)

[code]

[2021-03-10 11:37] mythi opened #598 "make per namespace resource quota settings available via operator"

[2021-03-16 10:27] msivosuo commented on #539
https://github.com/intel/intel-device-plugins-for-kubernetes/pull/599

[2021-03-19 07:48] mythi commented on #578
the consensus is that we keep it, closing

[2021-03-19 07:48] #578 closed

[2021-03-19 15:34] mythi opened #602 "Release preparations"
Checklist:

- [x] run validation on main
   - [x] SGX
   - [x] QAT
   - [x] DSA
   - [x] FPGA
   - [x] GPU
- [x] create release-0.20 branch
- [x] make set-version TAG=0.20.0 + commit
- [x] make lock-images + commit
- [x] draft release notes, review
- [x] update main README for supported versions and docs URL
- [x] final validation
- [x] publish release

[2021-03-26 07:49] Ram-srini opened #604 "Device plugin operator build failed."
While building device plugin operator failed with following error.
Error Message:

/opt/go/src/crypto/tls/cipher_suites.go:18:2: unknown import path "golang_org/x/crypto/chacha20poly1305": cannot find module providing package golang_org/x/crypto/chacha20poly1305
/opt/go/src/crypto/tls/key_agreement.go:20:2: unknown import path "golang_org/x/crypto/curve25519": cannot find module providing package

[2021-03-29 06:30] mythi commented on #604
@Ram-srini what's your Go version? We have the container image published so building is not necessary. `kubectl apply -k deployments/operator/default` is enough to deploy the operator.

[2021-03-29 06:55] Ram-srini commented on #604
I am using go version 1.12. Need to use latest go version 1.15 right?
I tried running kubectl command to deploy operator and got the below error.
kubectl apply -k deployments/operator/default/
..
Resource: "apiextensions.k8s.io/v1beta1, Resource=customresourcedefinitions", GroupVersionKind: "apiextensions.k8s.io/v1beta1, Kind=CustomResourceDefinition"
Name: "sgxdeviceplugins.deviceplugin.intel.com

[2021-03-29 07:14] mythi commented on #604
your build needs to use Go modules at least. 1.12 does not turn it on by default so `GO111MODULES=ON make deploy-operator` is likely needed.

are you using `v0.19.0` release?

[2021-03-29 07:21] Ram-srini commented on #604
$go version
go version go1.15.5 linux/amd64
$ GO111MODULES=ON make deploy-operator
cd cmd/operator; go build -tags ""
controller-gen object:headerFile="build/boilerplate/boilerplate.go.txt" paths="./pkg/apis/..."
/bin/sh: 1: controller-gen: not found
Makefile:64: recipe for target 'generate' failed
make: *** [generate] Error 127

Yes. Since that is latest tagged release.

[2021-03-29 07:27] mythi commented on #604
We currently don't install this automatically so it needs to be installed separately. Anyway: your build error is fixed. Let's focus on why the CRD deployment fails.

cool, let me check this shortly.

[2021-03-29 07:47] Ram-srini commented on #604
Even after installing controller-gen separately, make is failing with same error
to:
Resource: "apiextensions.k8s.io/v1beta1, Resource=customresourcedefinitions", GroupVersionKind: "apiextensions.k8s.io/v1beta1, Kind=CustomResourceDefinition"
Name: "sgxdeviceplugins.deviceplugin.intel.com", Namespace: ""
for: "deployments/operator/default": CustomResourceDefinition.apiextensions.k8s.io "sgxdevicep

[2021-03-29 10:38] mythi commented on #604
@Ram-srini do you have that CRD already in the cluster? `kubectl get crd -A`

[2021-03-29 12:00] Ram-srini commented on #604
@mythi - Yes are CRDs are exists in the cluster. Here is the list, these are created once i followed the steps as in https://intel.github.io/intel-device-plugins-for-kubernetes/0.19/cmd/sgx_plugin/README.html

acceleratorfunctions.fpga.intel.com
certificaterequests.cert-manager.io
certificates.cert-manager.io
challenges.acme.cert-manager.io
clusterissuers.cert-manager.io
dsadeviceplugins.deviceplu

[2021-03-29 12:45] mythi commented on #604
the list is not from `v0.19.0` release.

You can get the operator deployed like this (delete the previous deployment first and make sure you start without the CRDs):
`kubectl apply -k https://github.com/intel/intel-device-plugins-for-kubernetes/deployments/operator/default?ref=release-0.19`

There's no need to run `make deploy-operator` after that unless you need to modify the operator.

[2021-03-29 18:55] mythi opened #605 "image name validation fails when registry hostname:port is specified"
the validation of a valid image entry fails:
`localhost:8080/intel-sgx-plugin:1.2.3`

[2021-03-30 10:01] mythi commented on #604
@Ram-srini did you get the operator deployed? OK to close this?

[2021-03-30 11:04] Ram-srini commented on #604
At the last step Create SgxDevicePlugin custom resource managed by the Operator, is not creating any pods.
kubectl apply -f https://raw.githubusercontent.com/intel/intel-device-plugins-for-kubernetes/v0.19.0/deployments/operator/samples/deviceplugin_v1_sgxdeviceplugin.yaml -n sgx-ecdsa-quote
sgxdeviceplugin.deviceplugin.intel.com/sgxdeviceplugin-sample created
But is not creating any pod

kubectl

[2021-03-30 11:39] mythi commented on #604
Is the sgx device plugin daemonset created?  `kubectl get ds -A`

What's the status of it?

[2021-03-31 07:01] Ram-srini commented on #604
$ kubectl get ds -A
NAMESPACE                NAME                           DESIRED   CURRENT   READY   UP-TO-DATE   AVAILABLE   NODE SELECTOR              AGE
default                  sgxdeviceplugin-sample-5n5t7   1         1         0       1            0           kubernetes.io/arch=amd64   3m2s
kube-system              kube-flannel-ds                2         2         2       2            2

[2021-03-31 07:37] mythi commented on #604
[code]

the plugin has a dependency to a driver that provides `/dev/sgx_[enclave|provision}` char devices. This is available in the latest DCAP driver release or in the 5.11 Linux with in-tree SGX.

[2021-03-31 10:26] mythi opened #612 "move to k8s.io 1.21 API and Go 1.16"
- [x]  k8s.io 1.21 API
- [ ] Go 1.16

[2021-03-31 10:28] mythi opened #613 "run kind tests with github actions"
- [ ] fpga admission webhook
- [ ] sgx admission webhook
- [ ] deploy operator

using https://github.com/marketplace/actions/kind-kubernetes-in-docker-action

[2021-03-31 12:02] msivosuo opened #614 "Device Plugin DeAllocate Upstream KEP"
Address the discussion ongoing here: https://github.com/kubernetes/enhancements/pull/1949

[2021-04-05 05:18] #602 closed

[2021-04-13 14:39] rmr-silicom opened #618 "Support for other FPGA vendor and product ids"
Within utils.go, only the intel vendor id is used. How can other vendor and product ids be added to support?

[2021-04-13 16:52] bart0sh commented on #618
FPGA plugin supports only 2 Intel FPGA cards at the moment:
- Intel Arria 10
- Intel Stratix 10

[2021-04-14 09:15] rmr-silicom commented on #618
Thanks for the response. I am adding support for a FPGA card. Another question I have...

https://github.com/OPAE/opae-sdk

What is the project difference? From my initial reading, this project and the opae-sdk kinda do the same thing.

[2021-04-14 09:27] bart0sh commented on #444
@mythi @rojkov Created PR: https://github.com/operator-framework/community-operators/pull/3573
please, review

[2021-04-14 09:55] mythi commented on #444
@bart0sh LGTM, one nit: maybe add dsa to CSV keywords.

[2021-04-14 09:57] bart0sh commented on #444
@mythi thank you for the review. will do.

BTW, some tests fail on the plugin. If you know how to fix that please let me know

[2021-04-14 11:12] bart0sh commented on #618
OPAE SDK is a set of libraries to work with FPGA. This project is a device plugin that enables various Intel accelerator devices in Kubernetes clusters. You can read about Kubernetes device plugins here: https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/

[2021-04-15 07:22] bart0sh commented on #444
Done: https://operatorhub.io/operator/intel-device-plugins-operator

[2021-04-15 07:22] #444 closed

[2021-04-15 07:35] msivosuo commented on #444
Great to see it published, thanks! Any reason we do not have YAML example for DSA? For other devices there's one.

[2021-04-15 08:00] bart0sh commented on #444
No particular reason. Thanks for pointing out. Will fix.

[2021-04-15 08:07] rmr-silicom commented on #618
Got it. I am actually implementing an openshift operator for an FPGA PCIe device base on the Stratix 10, and have been pointed into the OPAE SDK direction, but it seems from a kubernetes point of view, this operator/golang pkg is where i should be using my time?

[2021-04-15 08:21] rojkov commented on #618
Yes, this project also provides a K8s operator for Intel FPGAs (and some other Intel HW). The latest release has been published at https://operatorhub.io/operator/intel-device-plugins-operator. Your contributions are welcome.

[2021-04-15 10:06] bart0sh commented on #444
Here is the fix: https://github.com/operator-framework/community-operators/pull/3590
I'll need to convince maintainers that this is a cosmetic change, otherwise we'll have to release 0.20.1 or wait until 0.21.0 is ready

[2021-04-15 11:37] mythi commented on #618
@rmr-silicom or any feedback if the existing functionality does not meet your use-cases.

[2021-04-19 05:42] mythi commented on #618
@rmr-silicom did we answer your question and we can close this?

[2021-04-19 07:58] #618 closed

[2021-04-22 08:34] mythi opened #623 "add make targets to install controller-gen, golangci-lint"

[2021-04-28 11:56] mythi opened #627 "CRD webhooks: add common constant for image version"
version X of the operator must not allow older than vX images. Currently this is hard to maintain and we
lack behind:

[code]

[2021-05-05 10:15] msivosuo commented on #293
@bart0sh - please document the remaining tasks.

[2021-05-06 07:41] bart0sh commented on #293
Remaining tasks:
- run full FPGA test. Currently only preprogrammed mode is tested.
- integrate with github CI: maintainers should be able to trigger PR tests by adding /ok-to-test comment. Logs should be visible in the PR

[2021-05-07 20:05] onedr0p opened #633 "Provide alternate image registry to dockerhub"
Hello,

In order to combat dockerhub's imposed rate limits it would be great to host these images on ghcr or quay.io. Are there on any thoughts from the community on this initiation?

[2021-05-10 05:12] mythi commented on #633
The device plugins release images are not updated that often and when combined with `IfNotPresent` (or even `Never`) `imagePullPolicy`, it should have minimal impact to your pull quota (the quota is IP based and not image based).

[2021-05-10 10:41] onedr0p commented on #633
Say you need to bootstrap a cluster with 10 nodes, each one using this Docker image. Now stack up all the other applications in your cluster also pulling from Dockerhub... it's VERY easy to hit their rate limits.

Yes there are ways to get around this on my side but it requires setting up a pull thru cache, but why not help solve the problem for everyone by pushing to an additional registry? GHCR

[2021-05-26 12:44] rojkov opened #641 "Enable goerr113 linter check"
Go 1.13 introduces new methods to the standard `errors` package which make it closer to the [error values proposal for Go2](https://go.googlesource.com/proposal/+/master/design/29934-error-values.md). The latter seems to provide the same functionality found in the non-standard github.com/pkg/errors package. Also the non-standard package provides the same methods now.

Consider migrating to the sta

[2021-06-02 06:57] #516 closed

[2021-06-02 10:22] msivosuo opened #642 "Validate DSA device plugin on simulated SPR"
- [ ]  Setup simulation environment for SPR and K8s
- [ ]  Implement e2e cases for DSA, using DML (#803)
- [ ]  Validate (e2e) Intel Device Plugin (DSA) in the simulation environment

[2021-06-02 12:31] mythi opened #643 "images: add checksum checks for toybox and qat release tarballs"

[2021-06-04 15:29] #612 closed

[2021-06-08 12:04] mythi commented on #605
@ozhuraki can you help re-checking this. it fails with qat webhook.

[2021-06-09 11:22] mythi opened #645 "xDevicePlugin CRDs to allow annotations"
To fix #381, we added a kustomize overlay that adds apparmor annotations to QAT daemonset. Currently, it's not possible to specify the same with the `QatDevicePlugin` CRD.

Need to think how this should be fixed.

[2021-06-14 12:27] #605 closed

[2021-06-16 10:17] msivosuo commented on #614
Feedback provided, @bart0sh will track progress going forward -> closing.

[2021-06-16 10:17] #614 closed

[2021-06-16 10:18] #523 closed

[2021-06-16 10:19] msivosuo commented on #426
PR available for comments and feedback -> closing.

[2021-06-16 10:19] #426 closed

[2021-06-16 12:16] msivosuo opened #658 "Device configuration operator (initcontainer)"
Provide default configuration for DSA and similar devices in init-container + documentation and tests.

[2021-06-17 06:52] msivosuo commented on #278
Closing as proposed.

[2021-06-17 06:52] #278 closed

[2021-06-17 06:54] msivosuo commented on #196
Currently no plans to implement realsense plugin. Contributions are welcome.

[2021-06-17 06:54] #196 closed

[2021-06-17 06:55] msivosuo commented on #274
@uniemimu - What do you think?

[2021-06-17 06:57] msivosuo commented on #327
No actions in plans -> closing.

[2021-06-17 06:57] #327 closed

[2021-06-17 07:00] mythi commented on #225
it seems the GPU plugin was working correctly, closing but please reopen if still valid

[2021-06-17 07:00] #225 closed

[2021-06-17 07:05] mythi commented on #163
closing due to inactivity

[2021-06-17 07:05] #163 closed

[2021-06-17 07:08] mythi commented on #394
Updated the title: Go embed likely better option than go-bindata.

[2021-06-17 09:55] eero-t commented on #274
Especially as Intel GPU plugin supports now (hanks to Ukri) fractional resources that the other plugins (according to the page) do not...

[2021-06-18 16:58] davralin opened #661 "Missing init-container-tag, or wrongly renamed definition?"
Looking at [release-0.21/deployments/gpu_plugin/base/intel-gpu-plugin.yaml](https://github.com/intel/intel-device-plugins-for-kubernetes/blob/release-0.21/deployments/gpu_plugin/base/intel-gpu-plugin.yaml#L18) for 0.21, I see both the regular, and the init-container was bumped to 0.21 - but there is no 0.21-tagged container on docker hub.

Is this a missing container, or a wrongly renamed tag?

Fo

[2021-06-19 05:06] mythi commented on #661
`0.21.0` tags are now published.

[2021-06-19 05:06] #661 closed

[2021-06-19 05:54] davralin commented on #661
Yeah, works.

[2021-06-22 10:56] uniemimu opened #663 "operator reconciler update fails sporadically"
The operator Update call fails sporadically at least after the gpu controller has run, but potentially after any of the controllers

`E0622 10:15:07.773355       1 reconciler.go:118] intel-device-plugins-manager/controller/gpudeviceplugin "msg"="unable to update DaemonSet" "error"="Operation cannot be fulfilled on daemonsets.apps \"intel-gpu-plugin-fzn2t\": the object has been modified; please app

[2021-06-22 11:04] msivosuo commented on #526
Ready to move forward with implementation -> closing.

[2021-06-22 11:04] #526 closed

[2021-06-22 11:09] msivosuo opened #664 "SGX Device Plugin Validation on Real Hardware"
Validate SGX device plugin on real hardware.

[2021-06-22 11:29] msivosuo commented on #476
Not reproducible anymore -> closing. Please reopen if it happens again.

[2021-06-22 11:29] #476 closed

[2021-06-22 12:03] rojkov commented on #394
Moving the Go code to YAML files may enable us to add the [funlen](https://github.com/ultraware/funlen) check to `.golangci.yaml`.

[2021-06-24 14:04] stefanstoeckigt opened #667 "FPGA Device OPAE v1.2.1 not working with operator."
I cant seem to get the operator working with arria10 FPGA, opae 1.2.1 running interfaceId: 38d782e3b6125343b9342433e348ac4c.

The fgps's are running on ubuntu 18.04 kernel 5.4 with the dfl drivers.

I created a new FPGARegion

[code]

However the fpga-device-plugin fails to start

[code]

Is this not supported yet? Do I need to downgrade to 1.2 (which I don't think is possible)?

[2021-06-24 14:45] bart0sh commented on #667
@stefanstoeckigt thank you for reporting this issue.
It doesn't look like OPAE-related to me so far. Can you try to deploy FPGA plugin as a daemonset as its described [here](https://github.com/intel/intel-device-plugins-for-kubernetes/blob/main/cmd/fpga_plugin/README.md#deploying-as-a-daemonset)?

[2021-07-08 10:23] stefanstoeckigt commented on #667
@bart0sh I am getting the exact some issue when I deploy the FPGA plugin manually.
So when I was running kernel 4.18, I was required to install the FPGA driver manually and I could get the operator working.
However I needed to update the kernel to 5.4 which comes with repackaged driver, the operator stop working with the above error in the plugin device pod.

Does the operator work with the dfl dr

[2021-07-08 11:24] stefanstoeckigt commented on #667
When i look at the ```/var/lib/kubelet/device-plugins/``` the following socket is created ```fpga.intel.com-region-.sock```. this seems to be incorrect. How does the plugin pod get the region id, to use in the socket creation?

[2021-07-15 16:19] bart0sh commented on #667
@seanporterwork sorry for the delay, I was on vacation. The plugin seems to use dfl driver on your system:
[code]
I'd suggest to disable dfl kernel modules and use OPAE modules if you want to use OPAE in user space.

[2021-07-15 16:43] seanporterwork commented on #667
@bart0sh I'm guessing you meant to take @stefanstoeckigt :)

[2021-07-16 08:40] bart0sh commented on #667
@seanporterwork I'm sorry. thank you for pointing out!

[2021-07-19 15:14] stefanstoeckigt commented on #667
The issue with the OPAE driver is that it isn't compatible with kernel 5.4. So it seems that I am stuck with the dfl driver which I can't seem to get working with the kubernetes operator.

[2021-07-20 10:03] bart0sh commented on #667
Ah, I thought you're going to use OPAE driver.
Good news that the plugin works just fine on my Ubuntu 20.04 box with this kernel: 5.4.0-77-generic #86-Ubuntu SMP Thu Jun 17 02:35:03 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

Let's try to spot the difference in my and your configurations.
Can you show me the output of these commands:
[code]

[2021-07-21 11:39] bart0sh commented on #580
@mythi the README of admission controller webhook actually described the mappings. I updated it a bit to emphasize that mappings is a mandatory part of the deployment. Please review.

[2021-07-22 15:12] stefanstoeckigt commented on #667
@bart0sh, many thanks for the help.

Please see below:

##### ```lsmod  |grep dfl```
[code]

##### ```ls -lR /sys/devices/*/*/*/fpga_region/```
[code]

##### ```ls -la /dev/dfl*```
[code]

[2021-07-23 10:36] bart0sh commented on #667
@stefanstoeckigt I don't see dfl_fme_mgr and dfl_fme_br modules loaded in your. Here is my output:
[code]

Can you also ` /opt/intel/fpga-sw/fpga_tool -d /dev/dfl-port.0 fpgainfo` this command and show its output here.
Here is what it outputs on my system:
[code]

[2021-07-23 12:18] stefanstoeckigt commented on #667
@bart0sh please see below.

##### ```/opt/intel/fpga-sw/fpga_tool -d /dev/dfl-port.0 fpgainfo```
[code]

[2021-07-26 07:29] bart0sh commented on #667
@stefanstoeckigt Interface UUID is empty for some reason. That explains why plugin was not able to get it and failed with this error: ```E0624 14:03:08.316328 1 manager.go:140] Failed to serve fpga.intel.com/region-: rpc error: code = Unknown desc = the ResourceName "fpga.intel.com/region-" is invalid```

SR-IOV seems to be turned off, so theoretically you should have sysfs entries similar to what

[2021-07-26 07:33] bart0sh commented on #667
Can you explain how did you obtain this interface id?

[2021-07-27 06:03] #580 closed

[2021-07-29 13:34] bart0sh opened #670 "Test FPGA device plugin with the latest version of the Intel Acceleration Stack"
At the moment of creating this issue the latest version of Intel Acceleration Stack software is 1.2.1:

https://www.intel.com/content/www/us/en/programmable/products/boards_and_kits/dev-kits/altera/acceleration-card-arria-10-gx/getting-started.html

It includes Open Programmable Acceleration Engine (OPAE) version: 1.1.2-2

So far FPGA device plugin was proven to work with previous version of the I

[2021-07-29 13:44] bart0sh opened #671 "Test FPGA device plugin with the latest OPAE version"
OPAE changed its kernel support starting from version 2.0.0.
They use DFL driver + custom changes from https://github.com/OPAE/linux-dfl
Most probably our FPGA plugin will work with this driver as it supports in-tree DFL driver, but it worth checking.
We also need to check if OPAE 2.0.0 works with in-tree DFL driver.

[2021-07-30 10:15] mythi opened #672 "Publish 0.21 version of Device Plugin Operator on Operator Hub"
- [ ] updates must go to a new location. see: https://github.com/operator-framework/community-operators/issues/4159
- [ ] update `DEVEL.md` to fix update URLs

[2021-08-03 08:09] mythi commented on #645
I'm leaning towards taking annotations set in CRs to Pod annotations to allow passing metadata to device plugins deployment. Apparmor is still Beta so there's no place for it in pod spec. We may need to revisit how `securityContext` settings can be tweaked once we know more what restrictions SELinux/Apparmor/Seccomp introduce to our device plugins deployments.

[2021-08-19 17:13] #672 closed

[2021-08-20 08:41] bart0sh commented on #293
Status update: FPGA test successfully runs. integration with github actions is progressing.

[2021-08-20 09:04] bart0sh commented on #667
ok, closing the issue. Hopefully we've found the reason.

[2021-08-20 09:05] #667 closed

[2021-08-31 09:27] xxinran opened #681 "qat kernel plugin doesn't work in VM"
I am using qat kernel plugin in a **virtual machine** where I passthroughed a QAT PF.
In VM, I can see the QAT is up,
[code]
But when I enter qat kernel plugin's container, the QAT device is down when I check with `adf_ctl status`, and the node id changes at each time I call `adf_ctl status` , another strange thing is the bsf is different from what I got from the sysfs, which is `0000:00:05.0`, th

[2021-08-31 11:03] mythi commented on #681
@xxinran what is the version of the QAT driver in your VM?

[2021-09-01 02:05] xxinran commented on #681
@mythi  The versionfile is as the following:
[code]
and the  kubernetes version is v1.22.1.

[2021-09-01 04:03] mythi commented on #681
@xxinran the driver had an ABI break and `adf_ctl`v4.11 (inside the container) fails to work with v4.14. See #666. If that works for you, maybe submit a PR for the qat kernel dockerfile too?

[2021-09-01 10:13] msivosuo commented on #321
@mythi - please add the improvements you implemented to description field, thanks!

[2021-09-01 10:14] msivosuo commented on #319
@mythi - please add CRI-O and containerd prs as a comment, thanks!

[2021-09-01 10:15] msivosuo commented on #319
containerd pr: https://github.com/containerd/containerd/pull/5122

[2021-09-01 11:17] xxinran commented on #681
@mythi thanks for the information, I have tested with the latest driver and it works. please refer to https://github.com/intel/intel-device-plugins-for-kubernetes/pull/683

[2021-09-01 11:52] mythi commented on #319
cri-o pr: https://github.com/cri-o/cri-o/pull/4620

[2021-09-01 11:52] #319 closed

[2021-09-01 12:03] rojkov opened #684 "Update links to 01.org"
01.org seems to go down soon. We should update the links referring the site.

[2021-09-01 13:34] #681 closed

[2021-09-02 13:52] mythi commented on #643
Move to toybox 0.8.5 while we are sit it

[2021-09-03 11:36] #641 closed

[2021-09-03 11:38] #321 closed

[2021-09-07 04:31] mythi opened #689 "GPU linter warnings"
Go [reportcard](https://goreportcard.com/report/github.com/intel/intel-device-plugins-for-kubernetes) gives the following warnings:

[code]

[2021-09-09 09:55] hj-johannes-lee opened #691 "Linter errors (govet 'fieldalignment')"
There was a warning from using maligned (that is deprecated and already removed from .golangci.yml in for the reason #678). It recommended to use govet 'fieldalignment', which generate such errors about struct sizes. Errors are as follows:

    pkg/apis/fpga/v2/acceleratorfunction_types.go:42:26: fieldalignment: struct with 320 pointer bytes could be 312 (govet)
    type AcceleratorFunction struct

[2021-09-10 07:27] mythi opened #692 "drop ubuntu-demo-opencl image"
it's somewhat outdated. we could drop it and simply use https://hub.docker.com/r/intelopencl/intel-opencl in `integpu-job.yaml` (`clinfo` or `clpeak`?)

/cc @eero-t @uniemimu what do you think?

[2021-09-10 11:20] eero-t commented on #692
"clinfo" with OpenCL container is fine, and enough to test that GPU plugin works (running actual CL program, like earlier demo did, would test primarily drivers in the container, not the device plugin).

Maintainer of the image you linked is stated as "community user": https://hub.docker.com/u/intelopencl

Why there's no such (more lightweight) image under: https://hub.docker.com/u/intel ?

(And w

[2021-09-10 13:36] #689 closed

[2021-09-13 08:56] #692 closed

[2021-09-14 09:11] #627 closed

[2021-09-14 11:30] msivosuo opened #697 "DLB Device Support"
Implement Dynamic Load Balance Device Support (plugin, operator, documentation, e2e)

https://builders.intel.com/docs/networkbuilders/SKU-343247-001US-queue-management-and-load-balancing-on-intel-architecture.pdf

Timeline:

- [x] Device plugin #733
- [x] Operator (November) #753
- [x] Documentation #733 (needs to be updated a bit), e2e #770 (December)

[2021-09-14 11:40] msivosuo commented on #138
Inactive for several years, if still valid please reopen.

[2021-09-14 11:40] #138 closed

[2021-09-14 11:41] msivosuo commented on #159
If this becomes a priority, let's reopen. Closing for now.

[2021-09-14 11:41] #159 closed

[2021-09-14 11:42] #293 closed

[2021-09-14 11:47] mythi commented on #348
Actions seems to work fine on this so closing.

[2021-09-14 11:47] #348 closed

[2021-09-14 11:53] msivosuo commented on #450
Closing, if still relevant please reopen.

[2021-09-14 11:53] #450 closed

[2021-09-14 11:56] msivosuo commented on #258
Closing, base image content does not exist anymore.

[2021-09-14 11:56] #258 closed

[2021-09-14 12:09] mythi opened #698 "0.22 release preparation"
Checklist:

- [x] run validation on main
   - [x]  SGX
   - [x]  QAT
   - [x]  DSA
   - [x]  FPGA
   - [x]  GPU
- [x] create release-0.22 branch
- [x] make set-version TAG=0.22.0 + commit
- [x] make lock-images + commit
- [x] draft release notes, review
- [x] update main README for supported versions and docs URL
- [x] final validation
- [x] publish release

[2021-09-14 12:12] mythi opened #699 "vpu: move to use openvino images"
- [ ] drop ubuntu-demo-openvino
- [ ] build a new using pre-built images https://hub.docker.com/u/openvino
- [ ] update vpu README
  - [ ] extra: add reference to pre-build `intel-vpu-plugin`

[2021-09-14 12:17] mythi opened #700 "qat: 4xxx: split generic resource to compress and crypto"
VFs derived from a PF might be capable of crypto or compression only depending on the PF config. we need to detect this and report the resources accordingly (`qat.intel.com/generic`) is not a good fit anymore.

[2021-09-14 14:10] mythi opened #702 "operator "seamless upgrades""
https://sdk.operatorframework.io/docs/overview/operator-capabilities/#level-2---seamless-upgrades

[2021-09-15 09:22] #643 closed

[2021-09-15 10:16] msivosuo opened #704 "Device configuration for DSA and similar devices"
Implement device configuration for DSA and similar devices in device operator.

[2021-09-15 10:52] msivosuo opened #705 "0.23 Release Preparations"
Checklist:

- [x] run validation on main
   - [x]  SGX
   - [x]  QAT
   - [x]  DSA
   - [x]  FPGA
   - [x]  GPU
- [x] create release-0.23 branch
- [x] make set-version TAG=0.23.0 + commit
- [x] make lock-images + commit
- [x] draft release notes, review
- [x] update main README for supported versions and docs URL
   - [x] fix "DSA device pugin" typo
- [x] final validation
- [x] publish release

[2021-09-15 16:12] devimc opened #706 "Unable to build `openssl-qat-engine` container image: requires a shell more modern"
I'm using this Docker file https://github.com/intel/intel-device-plugins-for-kubernetes/blob/main/demo/openssl-qat-engine/Dockerfile

**docker build --rm -t openssl-qat-engine .**

[code]

cc @mythi @eadamsintel

[2021-09-15 18:22] mythi commented on #706
@devimc hmm. I remember seeing something similar but cannot recall what is was. FWIW, we build this image part of our CI on Ubuntu 18. and 20.04 so it *should* be OK.

[2021-09-16 22:47] eadamsintel commented on #706
@devimc I just tried it on an Ubuntu 20.04 system and it built fine for me. I tried twice once with a 3 month old clearlinux:base image I had and once with the newer one 3 days ago and no issue.   I am using Docker 20.10.7 on an Ubuntu 20.04.2 system with a 5.4.0-81 kernel.

There might be something interesting about your setup that would be worth knowing.  If you have time can you try running a b

[2021-09-20 19:43] devimc commented on #706
Fixed - I have updated my system (ubuntu 18.04) and rebooted it, thanks

[2021-09-20 19:43] #706 closed

[2021-09-21 07:43] #691 closed

[2021-09-21 18:16] cathyhongzhang opened #711 "It is hard to find the info on how to specify an Intel device feature requirement in a workload spec"
We have these device features: GPU, FPGA, QAT, SGX, DSA, VPU, but it is hard to find info on how a developer needs to specify the feature requirement for its workload.
We need to make the application developer's life easier, i.e. make it easy to understand the benefit of each feature and to find info on how to specify the feature requirement for a workload spec. As we discussed, a new developer/us

[2021-09-22 07:34] bart0sh opened #712 "Scan yaml files with IaC security scanner tool https://www.checkov.io/"
This tool should help us to automate security checks for project yaml files.
It's integrated with github.com and can be configured to automatically scan github projects.

Here is an example of scanning demo/test-fpga-preprogrammed.yaml
[code]

[2021-09-22 08:19] msivosuo opened #713 "Validate QAT Plugin in a VM"
Validate QAT plugin works in a virtualized environment (SRIOV) and document possible configuration changes needed.

[2021-09-23 07:33] #645 closed

[2021-09-24 08:38] mythi opened #715 "qat: rework vfio-pci binding"
I've seen

[code]

twice this week on two different systems. It looks we dont handle:

`Device scan failed: write /sys/bus/pci/drivers/vfio-pci/new_id: file exists` which is the new normal on newer kernels:
https://github.com/torvalds/linux/commit/3853f9123c185eb4018f5ccd3cdda5968efb5e10

Let's rework the device binding to make it more robust.

[2021-09-27 05:45] mythi opened #716 "move to Go 1.17 and golang:1.17-bullseye"

[2021-09-29 10:51] bart0sh opened #720 "Investigate github environments for project management purposes"
Github Environments and actions provide a good opportunity to automate our development and release process.
We may want to use it for this project.

Here is an example of a workflow definition using GH Environments and actions: https://timheuer.com/blog/add-approval-workflow-to-github-actions/

In our case workflow steps could be different, but the idea is the same - to use github CI/CD functional

[2021-10-01 10:58] #658 closed

[2021-10-01 17:29] #698 closed

[2021-10-01 17:29] mythi commented on #698
released

[2021-10-08 09:03] mythi opened #725 "deprecate /dev/sgx/ mounts"
We keep the plugin backwards compatible with applications using the non-upstream `/dev/sgx/*` device nodes because those are still used by the SGX SDK: https://github.com/intel/intel-device-plugins-for-kubernetes/tree/main/cmd/sgx_plugin#backwards-compatibility-note

This issue is to notify that we'll drop these mounts as soon as the SGX SDK drops them.

[2021-10-14 04:13] mythi opened #729 "InitImage cannot be updated to DsaDevicePlugin"
`UpdateDaemonSet` in dsa controller does not react to `InitImage` changes in the CRD.

[2021-11-02 10:25] msivosuo commented on #697
https://github.com/intel/intel-device-plugins-for-kubernetes/pull/733

[2021-11-02 13:15] msivosuo commented on #700
requires 5.17 kernel -> moving to backlog

[2021-11-02 15:00] MustDie95 opened #739 "Unexpected Kubernetes node feature-labeling as sgx-capable when SGX feature is turned off in BIOS and host has no /dev/sgx_* devices"
At first I was mentioned this issue in NFD project ( https://github.com/kubernetes-sigs/node-feature-discovery/issues/638) but it looks like NFD itself is not responsible for this behavior.

What happened:

Kubernetes node has feature.node.kubernetes.io/custom-intel.sgx: 'true' even if SGX support was forcibly turned off in BIOS

What you expected to happen:

Kubernetes node is not feature-labeled

[2021-11-02 17:40] mythi commented on #739
@MustDie95 thanks for the comprehensive report

I'm not yet convinced this is the right goal. Applications are not expected to use that label alone but request `sgx.intel.com/epc` memory resources instead. Currently, getting the node resources registered (EPC size, by `epc-hook` and the device nodes by sgx-device-plugin) require the pod to run.

Can you provide to logs what is failing? The sgxdevi

[2021-11-02 18:44] MustDie95 commented on #739
@mythi, Pod with sgxdeviceplugin-sample trying to start repeatly on this node but failing with error "MountVolume.SetUp failed for volume "sgx-provision" : hostPath type check failed: /dev/sgx_provision is not a character device" (and this is true - there is not such device on this host). There are 2 pods from sgxdeviceplugin-sample DaemonSet and 2nd pod on SGX-BIOS-enabled host is running ok.

Th

[2021-11-02 19:39] mythi commented on #739
Right now I cannot think of any other way around this than to improve the default NFD `cpuid` labeling for SGX.

[2021-11-03 10:05] mythi commented on #633
Our device plugins images are now with the "verified publisher" badges and so free from any pull limits. Closing.

[2021-11-03 10:05] #633 closed

[2021-11-03 10:12] mythi commented on #739
@MustDie95 as a workaround you could add a custom [local source](https://kubernetes-sigs.github.io/node-feature-discovery/v0.9/get-started/features.html#local--user-specific-features) and use that plus `intel-sgx: true` as the nodeSelectors in the `SgxDevicePlugin` CRs.

[2021-11-03 12:10] MustDie95 commented on #739
@mythi, thanks a lot! this works well and the only pod is running on a properly SGX-configured node! :)

[2021-11-03 13:35] mythi commented on #739
@MustDie95 thanks for checking! I need to check can I follow the idea and just enhance `sgx_epchook` to print another label with `sgx.capable` when the EPC size is non-zero.

[2021-11-08 09:08] bart0sh commented on #292
Closed by #741

[2021-11-09 13:03] #704 closed

[2021-11-15 06:49] mythi commented on #394
@bart0sh one problem to solve first is how to make `embed` to find the YAMLs because the embedded files must be under same dir hierarcy (and symlinks are not allowed) as the code that embeds them.

[2021-11-15 10:10] pohly commented on #394
In PMEM-CSI, we treat our `deploy` directory as a Go package. That package then embeds the YAML files and exports them with a suitable API.

[2021-11-15 13:24] bart0sh commented on #394
@mythi it worked this way: https://github.com/intel/intel-device-plugins-for-kubernetes/pull/747
We can either symlink other embed.go for other plugins or just copy this file as it should be identical for all of them.

[2021-11-15 14:03] mythi commented on #394
@bart0sh this looks good to me (and thanks @pohly!)

or have `deployments/embed.go` that pulls in all devices?

[2021-11-15 17:03] bart0sh commented on #394
@mythi thanks. that's even better as yamls are not always cooperate with that simple wildcard pattern. will do.

[2021-11-22 07:58] #566 closed

[2021-11-22 22:48] Walnux opened #762 "OCP: SeLinux issue on OpenShif-4.9 to run SGX on intel-device-plugins framework"
### Comments
- I'd like to open his issue to discuss and track the SCC and SeLinux setting issue on OpenShift-4.9 platform to enable intel-device-plugin framework and SGX plugin.
- if I mount the directory with :z, and open SeLinux as enforcing mode, below issue can be resolved but it will run into access host devices(/dev/sgx_x) deney issue, for detail please see section " The proper way to acces

[2021-11-23 07:38] #394 closed

[2021-11-23 07:57] mythi commented on #762
@Walnux  thanks!

we need to focus on the OLM path:

- the UID/GID changes are fine. Do we also need to drop `readOnlyRootFilesystem`?
- I'll test and merge #756
- The SCC configs must be done in the `ClusterServiceVersion` metadata. Look for `clusterPermissions`.

[2021-11-23 10:08] bart0sh opened #763 "Configure CI to schedule regular e2e job runs"
Currently e2e jobs can only be run manually.
It makes sense to schedule them to run at least once per day using ['schedule' events](https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows#scheduled-events) and sending e-mail to the list of maintainers if tests fail.

[2021-11-23 18:05] Walnux commented on #762
@mythi readOnlyRootFilesystem is very useful to protect the rootfs and we should keep it.

[2021-11-23 18:07] Walnux commented on #762
And I agree with you @mythi after we can mannually start the operator and figure out the potential issues. We now should work on the bundle image and run the operator in OLM. That will apply another set of priviligy setting.

[2021-11-23 18:08] Walnux commented on #762
also file a same bug to track this on red hat buggerzilla https://bugzilla.redhat.com/show_bug.cgi?id=2026086

[2021-11-24 06:18] mythi commented on #763
@bart0sh +1

[2021-11-24 10:30] bart0sh opened #765 "Fix code duplicates in pkg/containers"
There is a lot of copied&pasted code in pkg/controllers, for example in SetupReconciler, NewDaemonSet, UpdateDaemonSet, UpdateStatus, setInitContainer, addVolumeIfMissing functions.

[dupl](https://github.com/mibk/dupl) reports quite a bit of duplicates for this code:
[code]

It makes sense to look if we can do better than just copying the same code around.

[2021-11-25 15:17] mythi commented on #739
@MustDie95 PR #766 fixes this. It can be easily tested using kustomize:

[code]

[2021-11-26 04:29] MustDie95 commented on #739
@mythi, thanks, it works well, as desired!

host 01 = SGX enabled in BIOS, host 02 = disabled

root@pluo-k8s-sgx-01:/# kubectl get nodes -o json | jq .items[].metadata.labels | grep -i sgx
  "hostname": "pluo-k8s-sgx-01",
  "kubernetes.io/hostname": "pluo-k8s-sgx-01",
  "feature.node.kubernetes.io/custom-intel.sgx": "true"
  "hostname": "pluo-k8s-sgx-02",
  "kubernetes.io/hostname": "pluo-k8s-sgx-

[2021-11-26 04:37] MustDie95 commented on #739
Ops, sorry, I forgot to edit sgxdeviceplugins.deviceplugin.intel.com with my custom rule, so sgx-deviceplugin-sample was missed..

root@pluo-k8s-sgx-01:/etc# kubectl get pods -n inteldeviceplugins-system -o wide
NAME                                                    READY   STATUS    RESTARTS   AGE   IP              NODE              NOMINATED NODE   READINESS GATES
inteldeviceplugins-controller-

[2021-11-26 06:38] mythi commented on #739
nice, so only one plugin pod. thanks

[2021-11-26 07:07] mythi opened #768 "default nodeSelector labels"
currently, the device plugin CR samples set `nodeSelector` that no-one sets:

[code]

(except SGX)

The next NFD release brings powerful labeling capabilities. We should have the samples defaults backed by NFD labeling rules and documentation how to deploy/use them.

This is to avoid end-user confusion that pods don't run when using the samples.

[2021-11-26 07:36] #739 closed

[2021-11-29 19:28] mythi opened #772 "envtest: add daemonset checks"
The envtest controller tests don’t check that the daemonSets are created/updated correctly.

add better checks for daemonSets.

[2021-11-29 19:29] mythi opened #773 "deployments: add Helm charts"
Helm charts For SGX and operator.

[2021-11-29 22:54] Walnux commented on #762
according to
https://www.arhea.net/posts/2020-04-28-selinux-for-containers.html
try to add :z or :Z to Volume mount, but the issue is still there.

Not sure whether we also need to create the operator or plugin image with some SeLinux enabling.

[2021-11-29 23:13] Walnux opened #774 "OCP: Operator Certification Step 2 - Using Operator Certification CI Pipeline to cerificate Operator Bundle Image"
According to document,
https://redhat-connect.gitbook.io/partner-guide-for-red-hat-openshift-and-container/certify-your-operator/certify-your-operator-bundle-image/uploading-your-operator-bundle-image

https://github.com/redhat-openshift-ecosystem/certification-releases/blob/main/4.9/ga/ci-pipeline.md#digest-pinning-config
We Need to use Operator Certification CI pipeline to do the operator Bundle

[2021-11-29 23:16] Walnux opened #775 "OCP: Operator Certification Step 1: Operator Container Image and plugin Container Image Cerificate"
According to the OCP document:
https://redhat-connect.gitbook.io/partner-guide-for-red-hat-openshift-and-container/program-on-boarding/certification-workflow
we need to certificate the operator Container Image and plugin Container Image.

- [x] Build UBI based Images
- [x] Check the New Image License
- [ ] Image Certificate

[2021-11-29 23:31] Walnux opened #776 "OCP: Bundle Image for OCP OLM (Operator Lifecycle Manager), Certification, testing and releasing"
Build the proper operator Bundle Image for OCP OLM.

- [x] 1. Meets the Webhook requirements and removes the dependent on cert-Manager.

- [x] 2. Figure out the proper way to run NFD through NFD-operator: The NFD should run by this operator or by cluster user/adminstrator through NFD-operator?
- [x] 3. Build Bundle Image and run on OCP OLM
- [ ] 4. push the Bundle image to the proper repository
-

[2021-11-29 23:54] Walnux opened #777 "OCP: intel-device-plugins operator with SGX support on Red Hat OCP (OpenShift Container Platform)"
The goal of the task is to release the intel-device plugins operator with SGX support on Red Hat OCP. The subtasks include

- [x] https://github.com/intel/intel-device-plugins-for-kubernetes/issues/776
- [x] https://github.com/intel/intel-device-plugins-for-kubernetes/issues/852
- [x] https://github.com/intel/intel-device-plugins-for-kubernetes/issues/778
- [x] https://github.com/intel/intel-devic

[2021-11-30 00:03] Walnux opened #778 "OCP: SGX Test Case Workloads for testing and certifcation of the Intel-device-plugins operator and SGX device plugin"
We need to figure out the proper SGX test case workload running on the OCP cluster to verify and test the operator and SGX features in this release and make sure the release can meet the proper quality requirements.
We plan to run this test case on Operator Certification CI Pipeline to certificate Operator Bundle Image.
see https://github.com/intel/intel-device-plugins-for-kubernetes/issues/774

[2021-11-30 02:05] Walnux commented on #762
According to https://www.redhat.com/sysadmin/user-namespaces-selinux-rootless-containers
The root cause might be:

The container engine, Podman, launches each container with a unique process SELinux label (usually container_t) and labels all of the container content with a single label (usually container_file_t). We have rules that state that container_t can read and write all content labeled cont

[2021-11-30 11:58] mythi commented on #777
@Walnux can we have only one issue to track the work and then create a list of items to track sub-tasks?

[2021-11-30 20:51] Walnux opened #780 "OCP: Merge SGX HW feature detecting fixing into OCP"
This SGX HW feature detecting issue is resolved in intel-device-plugins operator upstream see: https://github.com/intel/intel-device-plugins-for-kubernetes/issues/739
and NFD upstream see:  https://github.com/kubernetes-sigs/node-feature-discovery/commit/8a394346598e2be3fc769ed29f38547784a212f1

We need to make sure this fix can be merged into the NFD-Operator as well as OCP

NFD upstream is cutti

[2021-11-30 21:02] Walnux commented on #780
The NFD upstream fixing is:
https://github.com/kubernetes-sigs/node-feature-discovery/commit/8a394346598e2be3fc769ed29f38547784a212f1

[2021-12-01 00:31] Walnux commented on #780
According to https://github.com/openshift/cluster-nfd-operator/issues/230
@ArangoGutierrez  will merge this fix into OCP-4.9 and OCP-4.10

[2021-12-01 00:41] Walnux opened #781 "OCP: deploy NFD through NFD-operator for SGX"
After the SGX detect fixing got merged into OCP see https://github.com/intel/intel-device-plugins-for-kubernetes/issues/780
We need work out the solution to deploy NFD through NFD-operator on OCP.

According to feed back from https://github.com/openshift/cluster-nfd-operator/issues/231 by @ArangoGutierrez

We need firstly add required nfd-operator CRD in CSV file. like what has been done in SRO pr

[2021-12-01 00:47] Walnux commented on #776
Below task is done
2. Figure out the proper way to run NFD through NFD-operator: The NFD should run by this operator or by cluster user/adminstrator through NFD-operator?
for detail see task/issue https://github.com/intel/intel-device-plugins-for-kubernetes/issues/781

[2021-12-01 06:28] Walnux commented on #776
For task 1, operator-sdk can create the bundle image with CSV file using OLM webhook, please reference the related CSV file.
And The operator can start properly without crt-manager.
You can simply run operator using below command on OCP
`$ operator-sdk run bundle docker.io/walnuxdocker/intel-device-plugins-operator-bundle:0.22.0    `

[2021-12-01 09:27] mkbhanda opened #782 "doc: SGX device plugin config parameters have identical descriptions"
See https://intel.github.io/intel-device-plugins-for-kubernetes/cmd/sgx_plugin/README.html

Flag	Argument	Meaning
-enclave-limit	int	the number of containers per node allowed to use /dev/sgx/enclave (default: 20)
-provision-limit	int	the number of containers per node allowed to use /dev/sgx/provision (default: 20)

[2021-12-01 12:39] mythi commented on #782
They are different in that they point to different device nodes. The description has other issues though, fixed in #783

[2021-12-01 12:59] #782 closed

[2021-12-01 16:29] msivosuo opened #784 "Submit 0.23 version of Intel Device Plugins Operator to https://operatorhub.io/"
Submit the 0.23 version of operator including DLB support to https://operatorhub.io/

[2021-12-01 16:49] #729 closed

[2021-12-01 19:04] mythi opened #785 "CI: enable dependabot Go module updates"

[2021-12-03 07:46] msivosuo commented on #369
Not relevant -> closing. Reopen if needed.

[2021-12-03 07:46] #369 closed

[2021-12-03 10:25] belanasaikiran commented on #166
can you please share the dockerfile?

[2021-12-03 11:45] #292 closed

[2021-12-03 18:21] Walnux commented on #762
https://github.com/intel/intel-device-plugins-for-kubernetes/pull/787 is sent for review

[2021-12-04 07:25] mythi commented on #166
@belanasaikiran The original reporter was OK closing. I'd first like to turn the question back to you: do you see failures or errors?

[2021-12-06 04:43] belanasaikiran commented on #166
Yes @mythi , I was not able to program the FPGAs through Docker Container. It shows the FPGAs available with `fpgainfo fme ` command.
[code]

But when I use `aocl diagnose`  or program the FPGA with `aocl program <device_id> hello_world.aocx ` , The following errors occur.

[code]

[2021-12-07 08:48] bart0sh commented on #166
@belanasaikiran FPGA programming is done in a different way. The plugin doesn't expose FME devices inside a container for security reasons. That's why you can't program devices directly by aocl or similar tools inside a container.
The programming could only be done in [region mode](https://github.com/intel/intel-device-plugins-for-kubernetes/blob/main/cmd/fpga_plugin/README.md#fpga-modes). Please,

[2021-12-07 20:07] chaitanya1731 commented on #775
Update 1 -
Started working on certifying application container image. Started with intel-sgx-initcontainer image.. Tried scanning the image on redhat certification portal. It keeps loading for a few seconds and disappears.
We need to convert our current image to UBI base image..
Base image requirements -
- All images to be deployed in a cluster should be built on the same base image or images with

[2021-12-07 23:09] eltomato89 opened #791 "intel-gpu-plugin is running, but i915 label is not being attached"
Host OS: **Ubuntu 20.04.3 LTS**
K8s version: **v1.22.4-3**+adc4115d990346 on **microk8s**
intel device plugin version: **v0.22.0** (also tried v0.21.0)
CPU/GPU: Intel(R) **Xeon(R) CPU E3-1226 v3** @ 3.30GHz integrated graphics

The plugin pod is running but does not show any logs (using kubectl logs ..)

When I run
`kubectl get nodes -o=jsonpath="{range .items[*]}{.metadata.name}{'\n'}{' i915: '}{

[2021-12-08 10:09] uniemimu commented on #791
Most probably the scan() -function is not finding your GPU.

From that node, could you provide output of these three:
ls -la /sys/class/drm/card?
cat /sys/class/drm/card*/device/vendor
ls -la /dev/dri

Then the verbose version of the log of the plugin running in that node (kubectl logs -n namespacename podname) while the plugin is started with command line arg --v=5.

[2021-12-08 10:48] bart0sh opened #793 "NewDeviceInfo API doesn't have 'annotations' parameter"
This API should have all attributes for ContainerAllocateResponse, which are: Envs, Mounts, Devices, Annotations. It doesn't have Annotations for some reason. This should be fixed.

NOTE: There is a workaround for this - ContainerAllocateResponse can be modified in a PostAllocate hook, but it would be much more useful to add Annotations to the NewDeviceInfo API.

As an example of working around a

[2021-12-08 15:54] eltomato89 commented on #791
Here we go!

**ls -la /sys/class/drm/card?**
[code]

**cat /sys/class/drm/card*/device/vendor**
[code]

**ls -la /dev/dri**
[code]

Then the verbose version of the log of the plugin running in that node (kubectl logs -n namespacename podname) while the plugin is started with command line arg --v=5.

[code]

[2021-12-08 16:21] eltomato89 commented on #791
Okay .. seems like I am an idiot ..

A look into dmesg gave the answer:
[code]

I have indeed added the "nomodeset" as I was fighting with VGA/HDMI Adapter on PiKVM not getting a video stream...
removed it and now it works (even if my pikvm does not, grr)

thanks for your help!

[2021-12-09 07:51] #402 closed

[2021-12-09 07:51] msivosuo commented on #402
No activity.

[2021-12-09 12:39] mythi commented on #346
Github actions submit coverage reports:
https://github.com/intel/intel-device-plugins-for-kubernetes/blob/26f1a0efa34c3ff9faa8c84154b0ea16d5505f06/.github/workflows/ci.yaml#L66-L67

[2021-12-09 12:39] #346 closed

[2021-12-10 14:08] #785 closed

[2021-12-10 17:22] bart0sh opened #803 "Evaluate use of Data Mover Library (DML)"
This is just an idea that [DML](https://github.com/intel/DML) might be of some use for us as it uses DSA.
For example, we may want to use their examples in our DSA demos and tests as user workloads.

[2021-12-15 07:28] mythi commented on #392
With the current `main` we get 50 hits which are mostly about adding empty lines. I don't think this is meaningful item to track/add.

@rojkov are you fine closing?

[2021-12-15 08:42] rojkov commented on #392
After a bit of internal struggle... Yes, I'm fine. :)

[2021-12-15 08:46] bart0sh commented on #392
Can we fix those 50 hits or I'm missing something?

[2021-12-15 11:00] bart0sh commented on #392
I started to work on it and after fixing bunch of hundreds I realized that the check outputs only 50 issues by default :)

[2021-12-17 06:10] belanasaikiran opened #811 "failed calling webhook "webhook.cert-manager.io": failed to call webhook"
Iam trying to run fpga admission webhook, but Iam getting the following errors with the latest version of **Device Plugins of K8s**

[code]
Can someone help me in solving this issue please.

Also Iam trying the region mode of application deployment. The tutorial wasn't explained properly, Is there any better tutorial or Documentation on using INTEL_FPGA_DEVICE_PLUGIN?.

Looking forward for respons

[2021-12-17 06:30] mythi commented on #811
@belanasaikiran are you behind proxies and you have proxy env variables set?

[2021-12-17 06:49] belanasaikiran commented on #811
@mythi  can you please provide commands to check if I am behind proxies ? Yes, I have deployed `cert-manager`

and here is the output I get when I check all pods and namespaces

[code]

[2021-12-17 06:54] mythi commented on #811
This doc talks about it: https://github.com/intel/intel-device-plugins-for-kubernetes/tree/main/cmd/operator#installation

We see that type of error when `no_proxy` is not correctly set.

[2021-12-17 07:16] belanasaikiran commented on #811
Thank you @mythi

Yes, I have just followed the instructions from the above link you have shared, here's the output of api_server proxy

[code]

and Here is the output when I tried to apply the `default operator`
[code]

[2021-12-17 07:32] mythi commented on #811
Looks like the fpga_admissionwebhook README talks about the same `$no_proxy` thing. Do you have the latest `cert-manager` version?

[2021-12-17 08:48] belanasaikiran commented on #811
I couldn't find any README file at `fpga_admissionwebhook`  folder, can you please share the link for README.

I have applied 1.6.1 version of `cert-manager`

`https://github.com/jetstack/cert-manager/releases/download/v1.6.1/cert-manager.yaml`

[2021-12-17 09:36] mythi commented on #811
It is there:
https://github.com/intel/intel-device-plugins-for-kubernetes/tree/main/cmd/fpga_admissionwebhook#installation

Yes `1.6.1` sounds OK.

[2021-12-17 10:14] belanasaikiran commented on #811
yes @mythi , I have just checked the documentation file and still while following the guide, the `inteldeviceplugin-controller-manager` is stuck at `ContainerCreating` state.

Here are the logs.
[code]

[code]

[code]

[2021-12-17 11:46] mythi commented on #811
@belanasaikiran yes that is because of the error -> the pod needs the webhook certificates to run but that fails

[2021-12-17 12:06] belanasaikiran commented on #811
Is there any fix in solving this issue ?

I am following the same documentation steps provided or do i setup the cluster from scratch again.

[2021-12-17 12:26] mythi commented on #811
the deployment is OK for me so this might be a good thing to try. perhaps with some other CNI?

[2021-12-17 12:48] #392 closed

[2021-12-18 01:20] belanasaikiran commented on #811
sure, I've been using Calico as my CNI. Can you suggest the best alternative for CNI? May be the one which supports/works with Intel FPGA Device Plugin.

Thank you

[2021-12-20 06:19] mythi commented on #811
there's no dependency. For some reason `cert-manager` in your cluster is not responding correctly and the FPGA deployment just needs its services.

[2021-12-20 08:45] belanasaikiran commented on #811
okay, I'll try with different versions of `cert-manager` and also with different `network-plugins`. I'll comment back if I face any issues. Thank you @mythi

[2021-12-21 06:06] mythi opened #814 "grpc: move to insecure.NewCredentials()"
`grpc.WithInsecure()` is deprecated. We added a linter annotation to skip warning about it but the proper fix is to move to `insecure.NewCredentials()`

[2021-12-21 10:34] #715 closed

[2021-12-21 22:03] maxirus commented on #773
I built a Chart [here](https://github.com/maxirus/helm-charts/tree/master/charts/intel-gpu). Would like to contribute this Chart to this project so that it can be easily maintained along side the device plugin itself.

A prerequisite to this contribution is the maintainers of this repo will need to set up either an [Artifact Hub](https://artifacthub.io/) acct/repo, GitHub Pages + CI workflow, or s

[2021-12-21 22:39] hj-johannes-lee opened #819 "idxd: Update idxd-config-initcontainer"
- [ ] Current implementation does not allow it running as read-only. It needs to be fixed.
- [ ] update `accel-config` and start using the new `load-config` parameters to enable WQs
- [ ] make provisioning config `configMap` readonly with `DefaultMode` set for the volume

[2021-12-22 12:38] #697 closed

[2021-12-23 10:01] belanasaikiran commented on #811
Hi @mythi, I have re-created my K8s Cluster from cluster and changed the Master to a different Machine. I am still facing the same issue. Can you help me out with this ?

Here are the logs.

[code]
here's the PODS Status

[code]

Describing the POD which is stuck at `ContainerCreating` State

[code]

Is the problem with the `Cert-Manager` or `Webhook` ?

[2021-12-23 12:10] mythi commented on #811
@belanasaikiran The FPGA webhook certificate request from `cert-manager` fails and that's why it stays in pending state. Our FPGA validation is OK so there's probably an error in your cluster setup. Is this still with v1.6.1 or some earlier version?

[2021-12-23 12:13] mythi commented on #811
@belanasaikiran can you try:
`kubectl apply -k https://github.com/intel/intel-device-plugins-for-kubernetes/deployments/fpga_plugin/overlays/af`

[2021-12-23 14:45] #664 closed

[2021-12-23 17:04] #705 closed

[2021-12-24 05:52] belanasaikiran commented on #811
I have just tried the above command you sent. I'm still unable to validate the `cert-manager`. The following are the logs.

[code]

[code]

I've tried both `af` and `region` modes. Are there any alternative cert-manager available for K8s.
Could it be anything related to IPs and Ports?

[2021-12-31 04:48] belanasaikiran commented on #811
Hi @mythi ,

Some how the `cert-manager` is working correctly after recreating the cluster from scratch and deploying all the plugins on a `single node` and then joining the `worker nodes` to it.

However, as a `starter/learner`, I want to built `Init containers`  with my own **bitstreams** files. Can you please provide some documentation regarding building the containers from scratch **or** modif

[2022-01-03 12:44] mythi commented on #811
OK, I don't know what might be going on but it smells like some networking mis-config in your cluster.

this is not how it works. I'd suggest you start with our `opae-nlb-demo` and move from there.

[2022-01-04 06:46] mythi commented on #613
maybe add:
https://github.com/helm/kind-action

[2022-01-04 07:32] mythi commented on #773
@maxirus thanks!

We have Github Pages enabled so that can be used. However, I'd like to start with a Helm chart for the operator first. This is to reduce the maintenance burden of various deployment options.

[2022-01-04 09:10] belanasaikiran commented on #811
Thank you @mythi.

I will start with `opae-nlb-demo` and see if I can build anything with custom `bitstreams`.

[2022-01-04 09:10] #811 closed

[2022-01-04 12:34] hj-johannes-lee opened #835 "deprecated command packagemanifests for operator-sdk"
The commands in the [instruction for publishing a new version of the device plugins operator to operatorhub.io](https://github.com/intel/intel-device-plugins-for-kubernetes/blob/main/DEVEL.md#how-to-publish-a-new-version-of-the-intel-device-plugins-operator-to-operatorhubio) includes deprecating command.

or

shows the error messages like below:

Command "packagemanifests" is deprecated, support f

[2022-01-04 13:51] mythi commented on #713
validated, works with the default deployment.

[2022-01-04 13:51] #713 closed

[2022-01-07 04:51] Walnux commented on #762
according to the feed back from Peter Hunt <pehunt@redhat.com>,
[code]
Can be used to allow Pod to access the host filesystem without running pod with the privileged rights.
It can be verified to work properly. Will submit PR to fix the issue.

[2022-01-07 11:26] mythi commented on #762
@Walnux is `spc_t` the only type label that works or can we go with the one that NFD source dir is labeled?

[2022-01-10 04:11] #763 closed

[2022-01-10 10:45] bart0sh commented on #768
@mythi

Can you point me out on them? Are they described in the [customization guide](https://github.com/kubernetes-sigs/node-feature-discovery/pull/704)?

[2022-01-10 11:09] mythi commented on #768
@bart0sh that's the place for more info.

[2022-01-10 21:16] Walnux commented on #762
It also works on NFD source dir. I am submitting the PR

[2022-01-11 07:14] mythi commented on #762
`spc_t` probably works but are there other `*_t` types that'd fit better?

[2022-01-12 02:23] Walnux commented on #762
Could be.

[2022-01-12 18:56] hj-johannes-lee commented on #784
@bart0sh I was waiting for it to show 0.23.0 after pr is merged. Thank you. I close now.! :)

[2022-01-12 18:56] #784 closed

[2022-01-13 01:07] Walnux commented on #776
the bundle image has been upgraded the v0.23.0
to run the image to install operator use below command
operator-sdk run bundle docker.io/walnuxdocker/intel-device-plugins-operator-bundle:0.23.0

[2022-01-13 01:07] #776 closed

[2022-01-13 06:20] mythi commented on #776
@Walnux can that be generated using `make bundle`?

[2022-01-13 21:57] chaitanya1731 opened #852 "OCP: UBI Based images for SGX plugin and operator"
According to [link](https://redhat-connect.gitbook.io/partner-guide-for-red-hat-openshift-and-container/program-on-boarding/containers-with-red-hat-universal-base-image-ubi) we need to release the UBI based SGX plugin and operator container images on the OCP platform.

- [ ] 1. Find proper UBI base image similar to Google's - gcr.io/distroless/static and know about potential security risks
- [ ] 2

[2022-01-14 10:06] mythi commented on #852
the smallest possible because we don't depend on the base image. The builder image needs provide Go and toybox build capabilities for the initcontainer(s).

I guess we want the "build service" to deal with the publishing and we just provide the Dockerfile(s). Have you tried are the existing Dockerfiles suitable for that build service?

[2022-01-14 17:23] chaitanya1731 commented on #852
As per RedHat -
- The ubi-micro is the smallest possible UBI image, obtained by excluding a package manager and all of its dependencies
- This minimizes the attack surface of container images based on the ubi-micro image and is suitable for minimal applications
- Constructing a container image without the Linux distro’s packaging tools is sometimes referred to as distroless. By this criteria, UBI

[2022-01-17 20:06] haircommander commented on #762
I believe `spc_t` is the right option. container selinux module doesn't really give much granularity (other than special types for containers that are init processes and kata containers).

Also, I am wondering if anyone would mind helping me figure out why adding `:z` helps anything. From my testing, all I can see that it does is append `:z` to the destination path.
<details>
<summary>Here's the p

[2022-01-17 20:34] Walnux commented on #762
We also tested that with spc_t we don't have to use :z.
You can see below  documents why we tried :z
https://www.redhat.com/sysadmin/user-namespaces-selinux-rootless-containers

[2022-01-17 21:37] haircommander commented on #762
You can see below documents why we tried :z
https://www.redhat.com/sysadmin/user-namespaces-selinux-rootless-containers

yeah that makes sense. However, CRI-O should not be processing `:z`, whereas podman is expected to. I see why you'd try it, but I mostly want to figure out why it worked (and possibly stop it from working, if it looks like a bug)

[2022-01-17 21:39] haircommander commented on #762
for instance, if you change it to
`mountPath: '/dev/sgx_enclave:Z'`

or even differently:
`mountPath:'/dev/sgx_enclave_other'`

without spc_t, does it work?

[2022-01-17 21:58] Walnux commented on #762
The /dev directory with :z doesn't work.
only the other normal directory
like mountPath: '/etc/kubernetes/node-feature-discovery/source.d/:z'
it works.

[2022-01-17 22:49] Walnux commented on #762
according to
https://developers.redhat.com/blog/2014/11/06/introducing-a-super-privileged-container-concept#
spc_t is still the a super priviledged conatiner which "only" applies the mount namespace. (Please correct me)
I feel this is still pretty privileged for us.
Firstly, for the init container we only need to copy the NFD hook from conatiner into /etc/kubernetes/node-feature-discovery/source.d

[2022-01-18 01:23] Walnux commented on #780
@ArangoGutierrez
NFD-0.10.0 upstream has been released. Could you let us know the statutes in OCP-4.9 and 4.10?
Looks like in OCP-4.9 the latest NFD-operator version is 4.9.0-202111171831.
Thanks!

[2022-01-18 14:30] haircommander commented on #762
my point is that `:z` solution shouldn't work, and if it does I want to stop it from working.
can you try
[code]

also, what installs the device `/dev/sgx_x`? maybe a selinux rule could be added to allow containers access to it?

or better yet, do you have access to a node with this device that I can play around with? I would be happy to investigate a solution for y'all (ideally that doesn't give

[2022-01-18 15:46] mythi commented on #762
it's an in-tree kernel driver, RHEL 8.4+ has it as a tech preview. would that already cover the rules part automatically? I'll work with @Walnux to check if was get you an access to a node with SGX.

[2022-01-18 18:10] Walnux commented on #762
volumeMounts:
        - name: nfd-source-hooks
          mountPath: '/etc/kubernetes/node-feature-discovery/source.d/:Z'
I have tied and it can work without spc_t. :)

[2022-01-18 18:12] haircommander commented on #762
what is `/proc/mounts` inside the container that has this mounted? I believe you have just mounted the literal directory `/etc/kubernetes/node-feature-discovery/source.d/:Z`. As a final piece of experimentation, can you try
[code]
as I believe all it's doing is creating a new directory there

[2022-01-18 20:31] Walnux commented on #780
@ArangoGutierrez since we are working on the integration testing, NFD and NFD operator is the most important part. Is it possible to share us the bundle image, so we can install it on 4.9 manually? So we can verify it as early as possible. Thanks!

[2022-01-19 02:15] Walnux commented on #776
@mythi yes. it is created from make bulndle.

[2022-01-19 04:55] mythi commented on #762
@Walnux you can build toybox using cat support pretty easily:
[code]

[2022-01-19 11:22] msivosuo commented on #613
@hj-johannes-lee - could you take a look at this one, based on the plan looks like you have free cycles in this period.

[2022-01-19 11:24] hj-johannes-lee commented on #613
@msivosuo Ok.! I was just planning to solve projects here first and then focus more on the kubernetes issue I am assigned to,, but let me do.!

[2022-01-20 07:01] uMartinXu commented on #762
daemonset yaml without :z

[code]

Log:
overlay / overlay rw,context="system_u:object_r:container_file_t:s0:c88,c734",relatime,lowerdir=/var/lib/containers/storage/overlay/l/CGEOKTEVBSWVW37STEBG7DSUZK:/var/lib/containers/storage/overlay/l/ZZ7PBK43SV6NRMUKXNTMLRJ2DG,upperdir=/var/lib/containers/storage/overlay/1ab5e921e8cba30560e8838dbb8b635553715681c5e743fe370045fe3b03e2ba/diff,workdir=/var/lib/co

[2022-01-20 08:03] uMartinXu commented on #762
we are trying to figure a way to let @haircommander access the node with SGX support. But that needs some time and efforts. Before that, I can just work as the proxy for @haircommander and try to figure out a proper way. :)

[2022-01-24 02:39] uMartinXu commented on #762
@haircommander Any updates?
Thanks!

[2022-01-25 21:58] haircommander commented on #762
what's `ls -lZd /etc/kubernetes/node-feature-discovery/source.d/` ? either we have to change the label of that directory so all containers can access it, or we need to make this plugin privileged.

[2022-01-26 00:05] chaitanya1731 commented on #852
Tried UBI-micro as base images and keeping builder images as it is.. This surely works as tried testing on the RedHat portal for certification. Passes all the test cases. We can just replace the final base image gcr.io/distroless with RedHat ubi-micro and add the required labels and it is good to go

[2022-01-26 00:07] chaitanya1731 commented on #852
As per the discussion, we keep the same licenses for upstream and downstream. Hence using what upstream team already uses. Apache 2.0

[2022-01-26 04:47] uMartinXu commented on #762
I guess what you talking about is Host OS.
I use below way to access the node:
[jxu36@jfz1r09h07 ~]$ oc debug node/worker-1
Starting pod/worker-1-debug ...
To use host binaries, run `chroot /host`
Pod IP: 172.16.9.2
If you don't see a command prompt, try pressing enter.
sh-4.4# chroot /host
sh-4.4# ls
bin  boot  dev  etc  home  lib  lib64  media  mnt  opt  ostree  proc  root  run  sbin  srv  sys

[2022-01-26 11:08] #613 closed

[2022-01-26 11:08] #623 closed

[2022-01-27 07:10] belanasaikiran opened #863 "admission webhook "fpga.mutator.webhooks.intel.com" denied the request: environment variable 'FPGA_AFU_1' is not allowed"
I was trying to run one of the example deployment ( `test-fpga-region.yaml` ) on my cluster with FPGAs.
Iam getting the following error when running the app after programming the devices:

[code]

I have followed the following guide:
[https://asciinema.org/a/sUnLNwpazbUXKdpC66g09W5w1](https://asciinema.org/a/sUnLNwpazbUXKdpC66g09W5w1)

here's the result of programmed devices:
[code]

please can yo

[2022-01-27 11:23] dark-vex opened #864 "intel-gpu-plugin pod is running, but is not registering"
Hi, I have deployed the plugin on the following system:

**HW:** Intel NUC NUC10i7FNK
**CPU/GPU:** Intel(R) Core(TM) i7-10710U CPU / Integrated GPU (Comet Lake UHD Graphics)
**Host OS:** Debian 10 (Buster) [kernel: 4.19.0-18-amd64]
**K8s version:** v1.20.7+rke2r2 on rancher v2.5.10
**Intel device plugin version:** v0.23.0

It seems intel-gpu-plugin pod is running and is not showing any error or ot

[2022-01-27 18:52] rhatdan commented on #762
If you want this content to be read/write within a container it will need to be container_file_t.

[2022-01-27 22:16] dark-vex commented on #864
I have managed to fix this. Kernel version 4.19 of Debian 10 doesn't have the required driver for Comet Lake UHD GPU.
There is a 5.X kernel in backports repository but I preferred to upgrade to Debian 11.

After the upgrade and after installing firmware-misc-nonfree package from non-free repository the GPU is detected correctly
[code]

[2022-01-27 22:16] #864 closed

[2022-01-27 22:18] uMartinXu commented on #762
@rhatdan it is from the node running RHCOS as HostOS.  How could the user set the proper label? I think the Label should be set by the OS and CRI-O before starting the Pod. Please correct me. Thanks!

[2022-01-28 14:10] haircommander commented on #762
what about instead of setting spc_t, we give the pod `container_runtime_t` ? that should be about to access the kubernetes dir. Then ni the SCC, we could set the seLinuxOption to MustRunAs

[2022-01-28 20:29] Walnux commented on #762
What does "ni" mean?
For Kubernetes dir accessing from Pod, looks like it is a better solution than spc_t. :)
How about the /dev/sgx_x accessing from Pod?

[2022-01-28 20:33] haircommander commented on #762
sorry, a typo, I meant to type "in"

I believe access to devices need privilege unless they're going through a device plugin, so we otherwise have a circle and egg problem haha

[2022-01-28 20:52] Walnux commented on #762
@mythi what are your opinions? :)

[2022-01-31 08:02] bart0sh opened #867 "Evaluate usage of generics"
Go 1.18 is due as a production release in February 2022. It includes an implementation of generic features as described by the [Type Parameters Proposal](https://go.googlesource.com/proposal/+/refs/heads/master/design/43651-type-parameters.md).

It makes sense to evaluate feasibility of generics usage in the project.
One of the most promising areas can be [pkg/controllers](https://github.com/intel

[2022-01-31 11:49] bart0sh commented on #768
@mythi would it be better to contribute to change NFD to support all our devices instead? So far it's done for sgx only.

[2022-01-31 14:40] bart0sh commented on #768
@mythi where would you suggest to put nodefeaturerules yaml[s]? They should be applied before plugins as nfd rescans them once per minute.

would it make sense to put all of them into one file and tell users to load all of them in advance with kubectl -f ?

[2022-01-31 16:59] vmcclurem opened #868 "intelgpu-job image intel/intel-gpu-initcontainer accessed denied"
The intel/intel-gpu-initcontainer referenced in intelgpu-job.yaml fails to deploy container.

"reading manifest latest in quay.io/intel/intel-gpu-initcontainer: unauthorized: access to the requested resource is not authorized"

Reproduction steps:

1) Base cluster 2x Ubuntu 20.04 (1 VM (control plane), 1 Coffee Lake NUC (worker node))
2) Setup Kubernetes 0.23.0, CRI-O 1.23.0, Docker 20.10.7
3) Set

[2022-01-31 18:20] mythi commented on #868
`intelgpu-job.yaml` does not have a reference to initcontainer. How did it go there for you? Getting quay.io used instead of docker.io is probably a miss in the CRI-O config (no "docker.io" in unqualified-search-registries or something)

[2022-01-31 18:46] vmcclurem commented on #868
User-error. Sorry for the inconvenience.

[2022-01-31 18:46] #868 closed

[2022-02-01 04:46] vmcclurem opened #870 "Unable to deploy container for intelgpu-job"
The "intelopencl/intel-opencl:ubuntu-20.10-ppa" referenced in intelgpu-job.yaml fails to deploy container. Output is as follows:

  reading manifest ubuntu-20.10-ppa in docker.io/intelopencl/intel-opencl: errors:
  denied: requested access to the resource is denied
  unauthorized: authentication required"

Reproduction steps:

1) Base cluster 2x Ubuntu 20.04 (1 VM (control plane), 1 Coffee Lake NU

[2022-02-01 20:01] bart0sh opened #872 "Add devices to NFD"
Instead of providing [NFD labelling rules](https://github.com/intel/intel-device-plugins-for-kubernetes/pull/871) we can add support of all our devices to NFD, so NFD would support them out of the box.
This would simplify user experience as user would just need to install NFD to perform node labelling.

[2022-02-03 15:26] hj-johannes-lee commented on #712
I made [a draft pr](#874) about this issue.
For now, I added only high severity ones.

Otherwise,, there are a few hundreds and thousands of fails.

[2022-02-06 13:39] bart0sh commented on #712
@hj-johannes-lee can you provide typical medium severity issues found by the tool? This would help us to decide whether we're going to fix them or not.

[2022-02-07 05:00] mythi commented on #762
it does not sound right that we need privileged to just check the dev nodes are present. was there a device label (`device_t`? that could be used)

[2022-02-07 08:20] mythi commented on #872
NFD does not maintain user configurations. We can have NFD installation and the rules creation in the same place so the user experience is not that different.

/cc @marquiz

[2022-02-07 08:31] marquiz commented on #872
Yeah, we've been trying to keep vendor and use-case specific logic and all kinds of "device databases" etc out of NFD. I believe deployment of NFD labeling rules should now be easy enough as that can be done with just dropping one CR. So you could include e.g. the CR as part of the device plugin deployment(?)

One thing that is a bit cumbersome is enabling custom label namespaces (like `intel.com/

[2022-02-07 08:45] mythi commented on #872
Good that you mentioned it. We need a customized deployment ([SGX](https://github.com/intel/intel-device-plugins-for-kubernetes/blob/main/deployments/sgx_nfd/master-args.yaml#L3) so we could also look into clean labels like `sgx.intel.com: true` or something like that.

[2022-02-07 10:56] bart0sh commented on #872
@marquiz thanks for the suggestion to use intel.feature.node.kubernetes.io/<device-label> format. I'll update #871 to use it.

[2022-02-07 11:47] mythi commented on #870
looks like the image does not exist anymore. we'll need to fix the yaml to use some other image.

[2022-02-07 13:29] hj-johannes-lee commented on #870
@bart0sh

Minimize admission of root containers (https://docs.bridgecrew.io/docs/bc_k8s_22)
- /demo/test-fpga-preprogrammed.yaml
- /demo/test-fpga-orchestrated.yaml
- /demo/intelfpga-job.yaml
- /demo/intelvpu-job.yaml
- ... total 81 files

Ensure containers do not share host process ID namespace (https://docs.bridgecrew.io/docs/bc_k8s_16)
Ensure containers do not share host IPC namespace (https://

[2022-02-07 13:37] bart0sh commented on #870
@hj-johannes-lee thanks. From the first look all findings make sense and worth looking at.
@mythi wdyt?

[2022-02-07 14:16] mythi commented on #870
@bart0sh @hj-johannes-lee wrong issue to have this conversation?

[2022-02-07 14:26] hj-johannes-lee commented on #712
@bart0sh

Minimize admission of root containers (https://docs.bridgecrew.io/docs/bc_k8s_22)
- /demo/test-fpga-preprogrammed.yaml
- /demo/test-fpga-orchestrated.yaml
- /demo/intelfpga-job.yaml
- /demo/intelvpu-job.yaml
- ... total 81 files

Ensure containers do not share host process ID namespace (https://docs.bridgecrew.io/docs/bc_k8s_16)
Ensure containers do not share host IPC namespace (https://

[2022-02-07 15:01] bart0sh commented on #712
@hj-johannes-lee thanks. From the first look all findings make sense and worth looking at.
@mythi wdyt?

[2022-02-07 15:04] haircommander commented on #762
hm yeah it does look like there's a device_t, could you give it a try?